@import "./variables.scss";


    .about-containers{

        .outil-pedagogique-about-title{
            h2, p{
                text-align: left;
                margin-bottom: 1em;

            }
        }

        .pour-qui-liste{
            padding: 1em 0.5em;
            list-style-type: none;

            b{
                display: block;
            }
            .liste-des-bienfaits{
                padding: 1em 0.5em 3em 1.5em;
                list-style-type: disc;

            }
        }
    }

    section.campaign-section{
        background-color: white;
        padding: 1em 0 2em;

    }

    .includes-about{
        background-color: white;
        //pour que le background cotillons s'arrête à la section d'avant.
    }


