@import "./variables.scss";

.primary-button {
	border: 1px solid $dark-grey;
	padding: 0.5% 1.5%;
	font-family: $tertiary-font;
	cursor: pointer;
	&:hover {
		color: $beige;
		background-color: $dark-grey;
	}
}
