@import "./variables.scss";

.campaign{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 3em;
    .campaign-container{
        display: flex;
        width: 90%;
        max-width: 900px;
        height: auto;
        margin-top: 2em;
        border-radius: 15px;
        background-color: $pale-pink;
        box-shadow: 0 0 47px rgba(#616060, 0.07);        
        position: relative;    
        @media screen and (max-width: 1000px) {
            flex-direction: column;
            width: 75%;
        }
        @media screen and (max-width: 600px) {
            flex-direction: column;
            width: 90%;
        }
        .logo-kisskiss{
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px 0 0 15px;
            width: 30%;
            @media screen and (max-width: 1000px) {
                border-radius: 15px 15px 0 0;
                width: 100%;
                padding: 3.5em 0;
            }
            a{
                width: 75%;
                display: block;
                @media screen and (max-width: 1000px) {
                    width: 40%;
                    min-width: 160px;
                }
                
                svg{
                    width: 100%;
                    height: 100%;
                }
            }   
        }
        .campaign-text{
            padding: 3em 4.5em;
            border-radius: 0 15px 15px 0;
            background-image: url('../images/confettis-small.svg');
            background-repeat: no-repeat;
            background-size: 35% auto;
            background-position: calc(100% - 30px) 50%;        
            @media screen and (max-width: 1000px) {
                padding: 2em 2.8em;
                border-radius: 0 0 15px 15px;
            }
            @media screen and (max-width: 830px) {
                background-image: none;
            }
            @media screen and (max-width: 400px) {
                padding: 2em 1.8em;
            }
            h2{
                text-align: left;
                font-size: 1.8rem;
                @media screen and (max-width: 600px) {
                    margin-bottom: 0.5em;
                }
            }
        }
    }
    .buttons-main{
        &.btn-campaign{
        background-color: $dark-grey;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        white-space: nowrap;
        a{
            text-decoration: none;
            color: white; 
        }
        }
    }
}
