@import "./variables.scss";

section.customer-reviews {
	height: 600px;
	border: $border;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		width: 90%;
		height: 100%;
		border: $border1;
		margin: auto;
		padding: 2%;
		//background-color: $beige;

		.review-card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2%;
			width: 260px;
			height: 170px;
			background-color: rgb(250, 250, 250);
			border-radius: 4px;

			.review-stars {
				margin: 1%;
			}
			.review-text {
				font-family: $tertiary-font;
			}
		}
	}
}
