@import "./variables.scss";

footer{
    padding: 2.5% 0 2.5% 17%;
    background-color: $dark-grey;
    color: #E6E5E5;
    .contact-footer{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        margin-bottom: 1.5em;
    }
    .mail-footer,
    .location-footer{
        line-height: 1.5;
        font-size: 0.8em;
    }
    .copyright{
        font-size: 0.7em;
        margin-top: 3em;
    }
}
