@import "./variables.scss";

footer{
    padding: 2% 0 2% 17%;
    background-color: $dark-grey;
    color: #E6E5E5;
    .contact-footer{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 3em;
    }
    .mail-footer,
    .location-footer{
        line-height: 0;
        font-size: 14px;
    }
    .copyright{
        font-size: 12px;
        margin-top: 4em;
    }
}
