@import "./variables.scss";

footer{
    display: flex;
    flex-direction: column;
    padding: 3em 10em 3em 10em;
    background-color: $dark-grey;
    color: $whitish;
    gap: 2em;
    @media screen and (max-width: 1000px) {
        padding: 5em;
    }
    @media screen and (max-width: 750px) {
        padding: 10vw;
    }

    .mail-footer,
    .location-footer{
        line-height: 1.5;
        font-size: 1.1em;
    }
    .copyright{
        margin-top: 1.5em;
    }

    .social-media-logo-div{
        display: flex;
        gap: 0.4em;
        align-items: center;
        margin-left: -15px;

        .social-media-logo{
            background-color: $dark-grey;
            border-radius: 50%;
            svg {
                width: 50px;
                height: 50px;
                path {
                    transition: fill linear 300ms;
                }
            }
            &:hover{
                background-color: #454444;
                svg {
                    path{
                        fill: #FFF;
                    }
                }
            }
        }
    }
    .legales{
        text-decoration: none;
        color: $whitish;
        border-bottom: 1px solid $dark-grey;
        &:hover {
            transition: all linear 300ms;
            color: white;
            border-bottom: 1px solid white;
        }
    }

}

