body{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
}

h1{
      font-family: 'Georgia', serif;
      font-weight: 700;
      font-size: 48px;
      .main-title-span{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 48px;
      }
            }
h2{

}
   
            p{
                  font-family: 'Georgia', serif;
                  font-weight: 700;
                  color: red;
            }
