@import "./variables.scss";

header.header-desktop{
    position: absolute;
    top: 0;
    left: 0;
    height: $header-height;
    display: none;
    width: 100%;
    @media screen and (min-width: 661px) {
        display: flex;
    }
    
    nav {
        height: 100%;
        width: 100%;
        margin-left: auto;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;
            padding: 0.6em 2em 0 2.1em;
            height: 100%;  
           @media screen and (max-width: 750px) { 
               padding: 0.6em 0.3em 0 1.5em;
           } 


            li {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                &.logo-header{
                    width: 7em;
                    margin-right: auto;
                }
                &.tab {
                    cursor: pointer;
                    align-self: flex-start;
                    margin: 0 1%;
                    padding: 1em 0;
                    margin-top: 3em;
                    font-size: 0.8em;
                    line-height: 1.1;
                    text-transform: uppercase;
                    @media screen and (max-width: 700px) {
                        font-size: 0.78em;
                    }
                    &.menu-tab:hover{
                            opacity: 0.7;
                        }
                    a{
                        text-decoration: none;
                        color: $dark-grey;
                    }
                    &.social-media-logo-div {
                        display: flex;
                        padding: 0;
                        .social-media-logo{
                            svg{
                                &.facebook-header{
                                    fill: #616060
                            }
                                &:hover{
                                    path{
                                        fill: $red;
                                    } 
                                }
                            }
                        }
                    }              
                }
            }

        }
    }
}

        
        
        
    

