@import "./variables.scss";

section.legals{
    display: flex;
    flex-direction: column;
    align-items: center;
    .mentions-legales{
    
        margin-top: 10em;
        padding: 2em 3em 5em;
        @media screen and (max-width: 850px) {
            width: 100%;
            padding: 5em;
        }
        @media screen and (max-width: 550px) {
            padding: 3em;
        }
        h1{
            margin-bottom: 1em;
            font-size: 2em;
        }
        ul{
            list-style-type: none;
            padding: 1em 0;
            h3{
                margin-bottom: 1em;
            }
            li{
                margin-bottom: 0.2em;
            }
            .credit-photos{
                margin-top: 1em;
            }
        }
        .when-company{
            display: none;
        }
    }
}
