@import "./variables.scss";
 
section.header-main-img{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../images/fillette-bouteilles-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .main-img{
        display: flex;
        flex: 1;
        .right-section{
            width: 50%;
            display: flex;
            align-items: center;
            padding: 1.3em 3em 1.3em 9%;
            margin-left: auto;
            background-color: rgba(white, 90%);
            min-width: 700px;
        

            @media screen and (max-width: 870px) {
                width: 100%;
                justify-content: center;
            }
            @media screen and (max-width: 700px) {
                width: 100%;
                min-width: 100%;
            }
            .container-text{
                display: flex;
                flex-direction: column;
                max-width: 450px;
                align-items: flex-start;
                gap: 0.5em;
                @media screen and (max-width: 870px) {
                    align-items: center;
                    text-align: center;
                }
                p{
                    max-width: 400px;
                }
                .buttons-main{
                    margin-top: 2em;                    
                }
            }
        }
    }

    