@import "./variables.scss";
 
section.header-main-img{
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (max-width: 660px) {
        height: auto;
    }
    .background-absolute-header-main-img{
        position: absolute;
        background-color: $beige;
        height: 100vh;
        width: 550px;
        z-index: -1;
        top: 0;
        left: 0;
        //border: $border1;

        @media screen and (max-width: 1100px) {
            width: 100%;
        }
        @media screen and (max-width: 660px) {
            height: 100%;
            //min-height: ;
        }
        
    }

}
//border: $border;


    .main-img{
        display: flex;
        //flex-direction: column;
        height: calc(100% - $header-height - 30px);
        padding-top: 1.3em;
        min-height: 360px;
        //border: $border;
        .left-section{
            //height: calc(100vh - #{$header-height});
            //border: $border1;
            @media screen and (max-width: 870px) {
                display: none;
            }
            width: 50%;
            height: 100%;
            padding-left: 5em;
            .container-img{
                display: flex;
                //justify-content: flex-end;
                //border: $border2;
                height: 100%;  

                    .main-img-bouteille-bleue{
                    background-image: url("../images/bouteille-bleue.jpg");
                    //border: $border;
                    background-size: cover;
                    width: 236px;
                    background-position: center top;
                    
                }
                .main-img-bouteille-hiver{
                    background-image: url("../images/bouteille-hiver.jpg");
                    background-size: cover;
                    width: 371px;
                    margin-left: 5%;
                    //border: 1px solid red;
                    background-position: right top;
                    //background-position-y: 0;
                    background-repeat: no-repeat;

                    @media screen and (max-width: 1030px) {
                        
                    }

                }
            }
        }
        .right-section{
            width: 50%;
            display: flex;
            align-items: center;
            padding-left: 9%;
            padding-right: 3em;

            @media screen and (max-width: 870px) {
                width: 100%;
                justify-content: center;
            }
            .container-text{
                display: flex;
                flex-direction: column;
                max-width: 450px;
                align-items: flex-start;
                @media screen and (max-width: 870px) {
                    align-items: center;
                    text-align: center;
                    padding: 5em;
                    //border: $border;
                }
                p{
                    margin-top: 6%;
                }
                .buttons-main{
                    margin-top: 10%;
                    
                }
            }
        }
    }

    