@import "./variables.scss";


section.main-img{
	display: flex;
	border: $border;
	.left-section{
		width: 50%;
		display: flex;
		border: $border;
		.container-img{
			display: flex;
			border: $border1;
			.main-img-bouteille-bleue{
				img{
					border: $border2;
					height: 601px;
					width: 236px;
					object-fit: cover;
				}
			}
			.main-img-bouteille-hiver{
				img{
					border: $border3;
					height: 601px;
					width: 371px;
					object-fit: cover;
				}
			}
		}
	}
	.right-section{
		width: 50%;
		border: $border;
	}
}