@import "./variables.scss";

section.montessori{
    display: flex;
    justify-content: center;
    position: relative;
    .dot-circle{
        top: 21vw;
        left: -24vw;
        @media screen and (max-width: 650px) {
            display: none;;
        }
    }
    .montessori-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .montessori-title-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 650px;
            padding: 4em 0;
            @media screen and (max-width: 600px) {
                padding: 2em 0 2em;
            }
            h2{
                margin-bottom: 0.5em;
                em{
                    font-style: normal;
                    color: $red;
                }
                @media screen and (max-width: 650px){
                    padding: 1rem 1.5rem;
                }
            }
            p{
                text-align: center;
            }
            .malle-transp{
                height: 236px;
                width: 230px;
                background-image: url(../images/malle-mpme.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        
        .montessori-images{

            //Le background des images montessori est en relatif à la partie part. de la section pro-part.

            width: 95%;
            height: 550px;
            display: flex;
            justify-content: center;
            padding-top: 4em;

            @media screen and (max-width: 1015px) {
                height: 400px;
                padding-top: 0;
                align-items: center;

            }
            .image-div{
                background-size: cover;
                background-position-x: center;
                background-repeat: no-repeat; 

                height: 350px;
                width: calc(100%/3 - 2%);
                margin: 0 1%;

                @media screen and (max-width: 1015px) {
                    height: 70%;
                }
                @media screen and (max-width: 950px) {
                    width: calc(100%/3 - 6%);
                    margin: 0 3%;
                    background-size: cover;
                }
                @media screen and (max-width: 600px) {
                    flex-direction: column;
                    align-items: center;
                    width: 90vw;
                    margin: 0;
                }
            }

            .img1{
                background-image: url("../images/filles-jouent-bouteilles.jpg");
                background-position-x: 70%;
                @media screen and (max-width: 600px) {
                    display: none;
                }          
            }
            .img2{
                background-image: url("../images/old-people.jpg");
                @media screen and (max-width: 600px) {
                    display: none;
                } 
            }
            .img3{
                background-image: url("../images/enfant-handicapé-qui-joue.jpg");
 
            }
      
        }
    }
}