@import "./variables.scss";

.press-section{
    &.background-cotillons:after {
        z-index: 0;
    }
    padding-top: 10em;
    @media screen and (max-width: 660px) {
        padding-top: 6em;
    }
    h2{
        margin-bottom: 2em;
    }
    $gap: 2em;

    .particuliers-containers{
        z-index: 1;
        position: relative;
        margin-bottom: 4em;
        @media screen and (max-width: 800px) {
            padding: 2em 0;
        }
    }
    .sub-container{
        display: flex;
        align-content: flex-start;
        justify-content: center;
        gap: $gap;
        width: 100%;
        flex-wrap: wrap;
        @media screen and (max-width: 825px) {
            justify-content: center;
        }
        .sub-container-divs{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            box-shadow: 0 0 47px rgba(#616060, 0.07);
            width: 100%;
            min-width: 280px;
            max-width: 345px;
            background-color: white;

            @media screen and (max-width: 825px) {
                min-width: 400px;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                min-width: inherit;
            }
            .sub-container-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex: 1;
                gap: 0.6em;
                padding: 2em 2em 1em;
                background-color: $light-green;
                @media screen and (max-width: 800px) {
                    padding: 2em 2em 2em;
                }
                p:last-of-type {
                    flex:1;
                }
            }
            .sub-container-logo{
                background-size: 50% auto;
                background-repeat: no-repeat;
                background-position: 50%;
                width: 100%;
                height: 150px;
            }
            .logo-jic{
                background-image: url('../images/logo-jeune-inventeurs-createurs.png');

                }
            .logo-ville-monts{
                background-image: url('../images/salon-bien-gdir.png');
                background-color: #5496ca;
            }
            .made-in-vdl{
                background-image: url('../images/made-in-vdl.png');
                background-size: 40%;
            }
            .tv-tours{
                background-image: url('../images/logo-tvtours.png');
                background-size: 23%;
            }
            .france-bleu{
                background-image: url('../images/logo-france-bleu.svg');
                background-size: 22%;
            }
            .cherie-fm{
                background-image: url('../images/logo-cherie-fm.png');
                background-size: 35%;

            }
            }
        }
        .suivez-moi{
            text-align: center;
            font-size: 1em;
            z-index: 1;
            position: relative;
            margin-bottom: 2em;
        }
    }
