@import "./variables.scss";

section.pro-part-section{
    .pro-part-container{
        display: flex;
        width: 100%;
        height: 100%;
        .pro-part-img{
            flex:1; 
            background-image: url("../images/bouteille-hiver.jpg");    
            background-repeat: no-repeat; 
            background-size: cover;  
            background-position-x: 0;
            background-position-y: top;
            @media screen and (max-width: 1015px) {
                display: none;
            }
        }
        .pro-part-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            @media screen and (max-width: 1015px) {
                width: 100%;
            }

            .pro, .particulier{
                padding: 5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                @media screen and (max-width: 600px) {
                    padding: 4em;
                }
            }
            .particulier {
                position: relative;

                //background de la section montessori relatif à section particulier
                $background-montessori: 550px;
                &::before{
                    content: " ";
                    position: absolute;
                    right: 0;
                    top: -$background-montessori;
                    background-color: $beige;
                    height: $background-montessori;
                    width: 100%;
                    z-index: -1;
                    @media screen and (max-width: 1015px)  {
                        width: 100%;
                        height: 300px;
                        top: -300px;
                    }
                }
            }

            .pro {
                background-color: $light-green;
                .pro-text {
                    h2 {
                        color: $dark-green;
                    }
                }
            }
            
            .pro-text, .part-text {
                h2{
                    text-align: start;
                    line-height: 1;
                    margin-bottom: 1em;
                }
                p{
                    font-size: 1.1em;
                }
                .buttons-secondary{
                    margin-top: 2.2em;
                }
            }
        }
    }
}