@import "./variables.scss";

.product-section{
	position: relative;
	padding: 5em 5% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.dot-circle{
		@media screen and ( max-width: 600px ) {
			display: none;
		}
		&.left{
			top: -40vw;
			left: -26vw;
		}
		&.right{
			top: 0;
			right: -8vw;
			transform: rotate(180deg);
			@media screen and ( max-width: 1100px ) {
				top: -15%;
			}
		}
	}
	.product-container{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.product-title-text{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-width: 1000px;

			h2{
				margin: 0.5em 0;

                @media screen and (max-width: 600px) {
                    margin: 0.9em 0;
                }			
			}
			p.subtitle {
				text-align: center;
				@media screen and (max-width: 600px) {
					text-align: left;
					max-width: 100%;
				}	
			}
			div.text {
				display: flex;
				justify-content: center;
				gap: 5%;
				margin-top: 3em;
				flex-wrap: wrap;
				width: 70%;
				gap: 1em;
				min-width: 500px;
				@media screen and (max-width: 1000px) {
					min-width: 100%;
				}	
				p {
					text-align: justify;
					font-size: 1.1em;
				}
				.logo-made-in-france {
					width: 50%;
					max-width: 250px;
					margin: 0 auto;
				}
			}
		}

		.products-img{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			min-height: 570px;
			width: 100%;
			margin-top: 3em;
			gap: 1.5em;
			@media screen and (max-width: 1200px) {
				flex-wrap: wrap;
				justify-content: flex-start;
				min-height: 100%;
				gap: 0.5em;
				margin-top: 5em;
			}

			.product{
				background-size: cover;
				background-position: center top;
				width: 240px;
				height: 426px;
				margin-bottom: 3em;
				border-radius: 2px;
				@media screen and (max-width: 1200px) {
					max-height: 370px;
					margin-bottom: 0em;
				}
				@media screen and (max-width: 1100px) {
					width: calc((100%/3));
				}
				@media screen and (max-width: 700px) {
					width: calc((100%/3));
					max-height: 270px;
				}
				@media screen and (max-width: 500px) {
					width: calc((100%/3));
					max-height: 200px;
				}

				&.photo1{
					background-image: url("../images/bouteilles-products/plusieurs-bouteilles.jpg");
				}
				&.photo3{
					background-image: url("../images/bouteilles-products/bouteille-paillettes.jpg");
					@media screen and (max-width: 1200px) {
						flex: 1;
					}
				}
				&.photo5{
					background-image: url("../images/bouteilles-products/bouteille-automne.jpg");
				}
				&.photo2{
					height: 370px;
					background-image: url("../images/bouteilles-products/bouchon.jpg");
					@media screen and (max-width: 1200px) {
						order: 1;
						flex: 1;
					}
				}
				&.photo4{
					background-image: url("../images/bouteilles-products/bouteille-neige.jpg");
					height: 370px;
				}
			}
			.background2{
				position: absolute;
				background-color: $light-green;
				height: 380px;
				width: 100%;
				z-index: -1;
				@media screen and (max-width: 1200px) {
					display: none;
				}
			}

		}
	}
}

