@import "./variables.scss";

.product-section{
	//border: $border1;
	margin-top: 15%;
	//height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.product-container{
		//border: $border;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.product-title-text{
			//border: $border;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-width: 650px;
			.dark-green{
				padding: 5px 10px;
			}
			p{
				text-align: center;
			}
			//voir generic-styles pour tags, h2, span et p

		}

		.products-img{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			//border: $border2;
			min-height: 570px;
			width: 100%;
			//margin-top: 5%;
			padding: 0 3%;
			@media screen and (max-width: 1200px) {
				max-width: 860px;
				flex-wrap: wrap;
			}
			.product{
				//border: $border;
				background-size: cover;
				background-position: center top;
				width: 240px;
				height: 426px;
				margin: 3% 1%;
				@media screen and (max-width: 1200px) {
					max-height: 370px;
				}
				@media screen and (max-width: 1100px) {
					max-height: 300px;
					background-size: contain;
					background-repeat: no-repeat;
				}

				//il faut trouver le moyen de mettre toutes les photos à la bonne hauteur à 1100px
				&.photo1{
					background-image: url("../images/bouteille-bleue.jpg");
				}
				&.photo3{
					background-image: url("../images/bouteille-bleue.jpg");
				}
				&.photo5{
					background-image: url("../images/bouteille-hiver.jpg");
				}
				&.photo2{
					height: 370px;
					background-image: url("../images/bouteille-rouge.jpg");
					
				}
				&.photo4{
					background-image: url("../images/bouteille-rouge.jpg");
					height: 370px;
				}
			}
			.background2{
				position: absolute;
				background-color: $beige;
				height: 380px;
				width: 100%;
				z-index: -1;
				//border: $border1;
				@media screen and (max-width: 1200px) {
					display: none;
				}
			}

		}
	}
}

