@import "./variables.scss";

body {
	section.push-section {
		display: flex;
		justify-content: space-around;
		padding: 3%;
		width: 90%;
		margin: 4% auto;
		.push {
			width: 30%;
			display: flex;
			flex-direction: column;
			img {
				height: 70px;
				margin: auto;
			}
			span {
				display: flex;
				justify-content: center;
				font-family: $tertiary-font;
				color: $dark-grey;
			}
		}
	}
}
