@import "./variables.scss";

section.review-section{
	padding: 11em 5% 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (max-width: 1050px){
		padding-top: 6em;
	}
	.review-title{
		display: flex;
		flex-direction: column;
		align-items: center;
		.brown{
			padding: 4px 10px;
		}
		h2{
			padding: 1em;
		}
	}
	.review-container{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-content:baseline;
		flex-wrap: wrap;
		
		.review-card{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			font-family: 'Georgia', serif;
			font-weight: 400;
			font-size: 1em;
			line-height: 1.4;
			max-width: 373px;
			min-width: 340px;
			width: calc(100%/3 - 6%);
			border-radius: 6px;
			margin: 5% 1%;
			@media screen and (max-width: 1050px){
				margin: 5%;
			}
			@media screen and (max-width: 600px){
				min-width: 100%;
		}
			.quotes{
				padding: 3em 2.3em 1em;
			}
			.review-text{
				padding: 2em;
				font-family: 'Georgia', serif;
				font-weight: 400;
				font-size: 19px;
				@media screen and (max-width: 1050px) {
					font-size: 17px;    
			  }
			}
			.name{
				margin-top: auto;
				padding: 2em;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				color: $dark-grey;
				border-radius: 0 0 6px 6px;
				p{
					font-size: 16px;
					@media screen and (max-width: 1050px) {
						line-height: 18px;
				  }
				}
				.bold-name{
					font-weight: 700;
				}
				&.name1{
					color: $brown;
				}
				&.name2{
					color: $dark-green
				}
				&.name3{
					color: $red;
				}
			}
			
		}
	}
	
	.card1{
		background-color: #F9F2EE;
		.name1{
			background-color: #F4E7E0;
			
		}
	}
	.card2{
		background-color:#F1F1ED;
		.name2{
			background-color:#A2A18526;
		}
	}
	.card3{
		background-color: #F6F0EF;
		.name3{
			background-color:#92403217;
		}
	}
}






