@import "./variables.scss";

section.sponsors-section{
    padding: 1.5em;
    width: 100%;
    .sponsors-container{
        max-width: 900px;
        margin: auto;
        p{
            &.nous-soutiennent{
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
                text-align: center;
            }
        }
        .sponsor-logo-div{
            display: flex;
            margin: auto;
            border-bottom: 1px solid #F5ECE3;
            width: 100%;
            @media screen and (max-width: 800px) {
                flex-wrap: wrap;
                width: 100%;
            }
            @media screen and (max-width: 600px) {
                padding: 5% 3% 10%;
            }
            .sponsor-logo{
                height: 120px;
                width: calc(100%/4 - 8%);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                margin: 5% 4%;
                @media screen and (max-width: 600px) {
                    width: calc(100%/2 - 8%);
                    margin: 0 4%;
                }

                &.pepite-logo{
                    background-image: url(../images/logos-partners/logo-pepite.png);
                    background-position: center;

                }
                &.cma-logo{
                    background-image: url(../images/logos-partners/logo-cma.png);
                    background-position: center;

                }
                &.bge-logo{
                    background-image: url(../images/logos-partners/logo-bge.png);
                    background-size: 65% auto;
                }
                &.epine-logo{
                    background-image: url(../images/logos-partners/logo-concours-lepine.png);
                }
            }
        }
        .study-safety-text{
            margin: auto;
            text-align: center;
            padding: 3em 0em;
            @media screen and (max-width: 600px) {
                p {
                    text-align: justify;
                }
            }
        }
    }
}
section.contact{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9F2EEC2;
    padding: 4em 1em 4em 10em;
    background-image: url(../images/malle-mpme.png);
    background-repeat: no-repeat;
    background-position: 85% center;
    @media screen and (max-width: 1000px) {
        padding: 5em;
    }
    @media screen and (max-width: 750px) {
        background-image: none;
    }
    @media screen and (max-width: 550px) {
        padding: 3em;
    }
    
    .contact-text{
        width: 100%;
        h2{
            text-align: start;
            padding: 0.5em 0;
        }
        .contact-me{
            font-weight: 300;
            margin: 0em 0 0.4em;
        }
        .email{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.2em;
            color:$red;
            white-space: nowrap;
            @media screen and (max-width: 400px) {
                font-size: 0.9em;
            }
        }
    }
}
