@import "./variables.scss";

section.values-section{

    .values-container{
        display: flex;
        height: 495px;
        width: 100%;
        background-color: #F1F1ED;
        //border: $border;
        //position: relative;

        // .background5{
        //     background-color: #F1F1ED;
        //     height: 495px;
        //     width: 100%;
        //     position: absolute;
        //     z-index: -1;
        // }
        .values-left{
            display: flex;
            align-items: center;
            width: 50%;
            height: 100%;
            //border: $border;
            padding-left: 10%;
            .values-title-text{

                .white-green{
                    width: 120px;
                }
                h2{
                    text-align: start;
                    margin: 5% 0;
                }
                p{
                    width: 440px;
                }
            }
        }

        .values-right{
            width: 50%;
            display: flex;

            .value-push-left{
                height: 174px;
                width: 173px;
                background-color: white;
                margin: 34%;
                border-radius: 6px;
                position: relative;
                margin-top: -18%;
                margin-left: 12%;
            }
            .value-push-right{
                height: 174px;
                width: 173px;
                background-color: white;
                margin: 56%;
                border-radius: 6px;
                position: relative;
                margin-top: -37%;
                margin-left: 35%;
            }
            .value-push-left::before,
            .value-push-right::before{
                content: "";
                top: -15px;
                left: -15px;
                height: 174px;
                width: 173px;
                border: 2px solid #A2A1855C;
                // margin: -7%;
                border-radius: 6px;
                position: absolute;
            }
        }
    }
}