@import "./variables.scss";

section.values-section{
    width: 100%;
    background-color: #F1F1ED;
    padding: 7em 5%;
    //il faudra recaler les push



    .values-container{
        display: flex;
        position: relative;
        //height: 495px;
        @media screen and (max-width: 1050px) {
            flex-direction: column;
            align-items: center;
            height: auto;
        }

        .values-left{
            display: flex;
            align-items: center;
            width: 56%;
            height: 100%;
            padding-left: 10%;
            padding-right: 2em;
            @media screen and (max-width: 1050px) {
                padding-left: 0;
                padding-right: 0;
                width: auto;
            }
            .values-title-text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media screen and (max-width: 1050px) {
                    align-items: center;
                }


                h2{
                    text-align: start;
                    margin: 5% 0;
                    @media screen and (max-width: 1050px) {
                        text-align: center;
                    }
                }
                p{
                    max-width: 440px;
                    @media screen and (max-width: 1050px) {
                        text-align: center;
                    }
                }
            }
        }

        .values-right{
            height: 655px;
            top: 50%;
            transform: translate(0, -50%);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 2.3em 2.8em;
            position: absolute;
            right: 8%;

            @media screen and (max-width: 1050px) {
                margin-top: 0;
                flex-direction: row;
                justify-content: center;
                height: auto;
                padding-top: 3.5em;
                max-width: 610px;
                width: 100%;
                position: relative;
                height: auto;
                right: inherit;
                transform: translate(0, 0);
            }


            .value-push{

                height: 174px;
                width: 173px;
                background-color: white;
                //margin: 1em 0;
                border-radius: 6px;
                position: relative;

                &:first-child{
                    margin-top: 57px;
                    @media screen and (max-width: 1050px) {
                        margin-top: 0;
                    }
                }
            }
            .value-img-and-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-right: 1%;
                position: relative;
                top: 18%;
                left: -2%;

            }

            .value-img{
                height: 40%;
                width: 31%;
                @media screen and (max-width: 750px) {
                    width: 28%;
                }

                
            }
            .value-text{
                margin-top: 2%;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 1.1em;
                line-height: 1.2em;
                padding-top: 7%;
                max-width: 95%;
                @media screen and (max-width: 750px) {
                    font-size: 1em;
                }
                @media screen and (max-width: 470px) {
                    font-size: 0.9em;
                }
            }

            .value-push::before{
                content: "";
                top: -11px;
                left: -13px;
                height: 174px;
                width: 173px;
                border: 2px solid #A2A1855C;
                border-radius: 6px;
                position: absolute;
            }
        }
    }
}