//debugage
$border: 1px solid red;
$border1: 1px solid blue;
$border2: 1px solid green;
$border3: 1px solid yellow;

//couleur charte Laurie:

$pale-pink: #F6F0EF;
$beige: #F5ECE3;
$beige-light: #F9F1ED;
$beige-medium: #E9D9D7;
$beige-dark: #E8CEBF;
$dark-green: #69725D;
$light-green: #F1F1ED;

$red: #924032;
$light-red: #E9D9D7;
$dark-grey: #616060;

$light-brown: #F4E7E0;
$brown: #BE6E53;
//variables tailles

$header-height: 150px;

