//debugage
$border: 1px solid red;
$border1: 1px solid blue;
$border2: 1px solid green;
$border3: 1px solid yellow;

//couleur charte Laurie:

$pale-pink: #e6cebc;
$beige: #f4ece2;
$dark-green: #687259;
$light-green: #a2a182;
$light-brown: #ba6f4d;
$dark-brown: #8e412e;

$dark-grey: rgb(55, 55, 55);
$light-grey: rgb(126, 122, 122);

//fonts charte Laurie
$primary-font: "Quicksand", sans-serif;
$secondary-font: "American Typewriter", sans-serif;
$tertiary-font: "Raleway", sans-serif;

//variables tailles

$header-height: 130px;
