//debugage
$border: 1px solid red;
$border1: 1px solid blue;
$border2: 1px solid green;
$border3: 1px solid yellow;

//couleur charte Laurie:

$pale-pink: #e6cebc;
$beige: #F5ECE3;
$beige-light: #F9F1ED;
$beige-medium: #E9D9D7;
$beige-dark: #E8CEBF;
$dark-green: #69725D;
$light-green: #A2A185;
$light-red: #BE6E53;
$red: #924032;
$dark-grey: #616060;


//variables tailles

$header-height: 200px;

