<section class="contact">
	<div class="contact-text">
		<div class="tags brown">contact</div>
		<h2>Un projet,
			<span>une question ?</span>
		</h2>
		<p class="contact-me">N'hésitez pas à me contacter !</p>
		<p class="email">mapetitemalledeveil@gmail.com</p>
	</div>
	<div class="img-malle-div">
		<div class="malle-transp"></div>
	</div>
</section>