<footer>
	<div class="social-media-logo-div">

		<!-- Instagram -->
		<div class="social-media-logo">
			<a href="https://www.instagram.com/mapetitemalledeveil/" target="_blank" alt="Logo du lien vers Instagram">
				<svg class="insta-footer" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20.334 16.7402C18.334 16.7402 16.7402 18.3652 16.7402 20.334C16.7402 22.334 18.334 23.9277 20.334 23.9277C22.3027 23.9277 23.9277 22.334 23.9277 20.334C23.9277 18.3652 22.3027 16.7402 20.334 16.7402ZM20.334 22.6777C19.0527 22.6777 17.9902 21.6465 17.9902 20.334C17.9902 19.0527 19.0215 18.0215 20.334 18.0215C21.6152 18.0215 22.6465 19.0527 22.6465 20.334C22.6465 21.6465 21.6152 22.6777 20.334 22.6777ZM24.8965 16.6152C24.8965 16.1465 24.5215 15.7715 24.0527 15.7715C23.584 15.7715 23.209 16.1465 23.209 16.6152C23.209 17.084 23.584 17.459 24.0527 17.459C24.5215 17.459 24.8965 17.084 24.8965 16.6152ZM27.2715 17.459C27.209 16.334 26.959 15.334 26.1465 14.5215C25.334 13.709 24.334 13.459 23.209 13.3965C22.0527 13.334 18.584 13.334 17.4277 13.3965C16.3027 13.459 15.334 13.709 14.4902 14.5215C13.6777 15.334 13.4277 16.334 13.3652 17.459C13.3027 18.6152 13.3027 22.084 13.3652 23.2402C13.4277 24.3652 13.6777 25.334 14.4902 26.1777C15.334 26.9902 16.3027 27.2402 17.4277 27.3027C18.584 27.3652 22.0527 27.3652 23.209 27.3027C24.334 27.2402 25.334 26.9902 26.1465 26.1777C26.959 25.334 27.209 24.3652 27.2715 23.2402C27.334 22.084 27.334 18.6152 27.2715 17.459ZM25.7715 24.459C25.5527 25.084 25.0527 25.5527 24.459 25.8027C23.5215 26.1777 21.334 26.084 20.334 26.084C19.3027 26.084 17.1152 26.1777 16.209 25.8027C15.584 25.5527 15.1152 25.084 14.8652 24.459C14.4902 23.5527 14.584 21.3652 14.584 20.334C14.584 19.334 14.4902 17.1465 14.8652 16.209C15.1152 15.6152 15.584 15.1465 16.209 14.8965C17.1152 14.5215 19.3027 14.6152 20.334 14.6152C21.334 14.6152 23.5215 14.5215 24.459 14.8965C25.0527 15.1152 25.5215 15.6152 25.7715 16.209C26.1465 17.1465 26.0527 19.334 26.0527 20.334C26.0527 21.3652 26.1465 23.5527 25.7715 24.459Z" fill="#fff"/>
				</svg>
			</a>
		</div>

		<!-- Linkedin -->
		<div class="social-media-logo">
			<a href="https://www.linkedin.com/in/laurie-verhelst-b7a8141ab/?originalSubdomain=fr" target="_blank" alt="Logo du lien vers Linkedin">
				<svg class="linkedin-footer" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M26.334 13.334H14.3027C13.7715 13.334 13.334 13.8027 13.334 14.3652V26.334C13.334 26.8965 13.7715 27.334 14.3027 27.334H26.334C26.8652 27.334 27.334 26.8965 27.334 26.334V14.3652C27.334 13.8027 26.8652 13.334 26.334 13.334ZM17.5527 25.334H15.4902V18.6777H17.5527V25.334ZM16.5215 17.7402C15.834 17.7402 15.3027 17.209 15.3027 16.5527C15.3027 15.8965 15.834 15.334 16.5215 15.334C17.1777 15.334 17.709 15.8965 17.709 16.5527C17.709 17.209 17.1777 17.7402 16.5215 17.7402ZM25.334 25.334H23.2402V22.084C23.2402 21.334 23.2402 20.334 22.1777 20.334C21.084 20.334 20.9277 21.1777 20.9277 22.0527V25.334H18.8652V18.6777H20.834V19.584H20.8652C21.1465 19.0527 21.834 18.4902 22.834 18.4902C24.9277 18.4902 25.334 19.8965 25.334 21.6777V25.334Z" fill="#fff"/>
				</svg>
			</a>
		</div>

		<!-- Facebook -->
		<div class="social-media-logo">
			<a href="https://www.facebook.com/mapetitemalledeveil" target="_blank" alt="Logo du lien vers Facebook">
				<svg class="facebook-footer" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.6899 20.4564H18.2245V26.7742C18.2245 26.8989 18.3256 27 18.4503 27H21.0524C21.1771 27 21.2782 26.8989 21.2782 26.7742V20.4862H23.0423C23.1571 20.4862 23.2536 20.4001 23.2667 20.2861L23.5346 17.9602C23.542 17.8963 23.5217 17.8322 23.4789 17.7842C23.436 17.7361 23.3747 17.7086 23.3103 17.7086H21.2783V16.2506C21.2783 15.8111 21.5149 15.5882 21.9817 15.5882C22.0482 15.5882 23.3103 15.5882 23.3103 15.5882C23.4351 15.5882 23.5361 15.4871 23.5361 15.3624V13.2275C23.5361 13.1027 23.4351 13.0017 23.3103 13.0017H21.4793C21.4664 13.001 21.4377 13 21.3954 13C21.0777 13 19.9734 13.0624 19.101 13.8649C18.1345 14.7542 18.2688 15.819 18.301 16.0036V17.7086H16.6899C16.5652 17.7086 16.4641 17.8096 16.4641 17.9344V20.2305C16.4641 20.3553 16.5652 20.4564 16.6899 20.4564Z" fill="#fff"/>
				</svg>
			</a>
		</div>

		<!-- Youtube -->
		<div class="social-media-logo">
			<a href="https://www.youtube.com/@mapetitemalledeveil" target="_blank" alt="Logo du lien vers Youtube">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M27.5736 13.4092C28.4161 13.6347 29.0783 14.2968 29.3038 15.1393C29.7113 16.6648 29.713 19.8496 29.713 19.8496C29.713 19.8496 29.713 23.0344 29.3038 24.56C29.0783 25.4025 28.4161 26.0646 27.5736 26.29C26.0482 26.6992 19.9282 26.6992 19.9282 26.6992C19.9282 26.6992 13.8084 26.6992 12.2828 26.29C11.4403 26.0646 10.7783 25.4025 10.5527 24.56C10.1436 23.0344 10.1436 19.8496 10.1436 19.8496C10.1436 19.8496 10.1436 16.6648 10.5527 15.1393C10.7783 14.2968 11.4403 13.6347 12.2828 13.4092C13.8084 13 19.9282 13 19.9282 13C19.9282 13 26.0482 13 27.5736 13.4092ZM23.0528 19.8497L17.9688 22.7847V16.9146L23.0528 19.8497Z" fill="#fff"/>
				</svg>
			</a>
		</div>

		<!-- TikTok -->
		<div class="social-media-logo">
			<a href="https://www.tiktok.com/@mapetitemalledeveil" target="_blank" alt="Logo du lien vers TikTok">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24.5056 15.9941C24.4122 15.9453 24.3212 15.8917 24.2331 15.8337C23.9767 15.6623 23.7417 15.4604 23.533 15.2323C23.011 14.6283 22.816 14.0155 22.7442 13.5865H22.7471C22.6871 13.2304 22.7119 13 22.7156 13H20.3378V22.2973C20.3378 22.4221 20.3378 22.5455 20.3326 22.6674C20.3326 22.6826 20.3311 22.6966 20.3303 22.7129C20.3303 22.7196 20.3303 22.7266 20.3288 22.7336C20.3288 22.7353 20.3288 22.7371 20.3288 22.7388C20.3038 23.0724 20.198 23.3947 20.0209 23.6772C19.8437 23.9598 19.6006 24.194 19.313 24.3593C19.0132 24.5317 18.6741 24.6222 18.3291 24.6218C17.2213 24.6218 16.3234 23.7083 16.3234 22.5802C16.3234 21.4521 17.2213 20.5386 18.3291 20.5386C18.5388 20.5384 18.7473 20.5718 18.9467 20.6375L18.9495 18.1894C18.3442 18.1103 17.7293 18.1589 17.1435 18.3322C16.5577 18.5055 16.0138 18.7997 15.546 19.1961C15.1362 19.5562 14.7916 19.9859 14.5279 20.4657C14.4275 20.6407 14.0488 21.3439 14.0029 22.4851C13.9741 23.1329 14.1665 23.804 14.2582 24.0813V24.0872C14.3159 24.2505 14.5394 24.8078 14.9037 25.2777C15.1974 25.6546 15.5445 25.9856 15.9337 26.2603V26.2544L15.9395 26.2603C17.0906 27.0512 18.3669 26.9993 18.3669 26.9993C18.5878 26.9903 19.328 26.9993 20.1685 26.5965C21.1007 26.15 21.6314 25.4848 21.6314 25.4848C21.9704 25.0873 22.24 24.6343 22.4286 24.1452C22.6438 23.5733 22.7156 22.8873 22.7156 22.6131V17.6807C22.7445 17.6982 23.1286 17.9552 23.1286 17.9552C23.1286 17.9552 23.6822 18.3139 24.5457 18.5475C25.1653 18.7138 26 18.7488 26 18.7488V16.3619C25.7075 16.394 25.1136 16.3006 24.5056 15.9941Z" fill="#fff"/>
				</svg>
			</a>
		</div>

		<!-- Pinterest -->
		<div class="social-media-logo">
			<a href="https://www.pinterest.fr/mapetitemalledeveil/" target="_blank" alt="Logo du lien vers Pinterest">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20.0159 11C15.0367 11 11 15.0361 11 20.0141C11 23.7064 13.2195 26.8775 16.3967 28.2717C16.3698 27.6417 16.3908 26.8868 16.5522 26.2022C16.7265 25.4699 17.7134 21.289 17.7134 21.289C17.7134 21.289 17.4257 20.7134 17.4257 19.8633C17.4257 18.527 18.1999 17.5295 19.1634 17.5295C19.9843 17.5295 20.3796 18.1457 20.3796 18.8827C20.3796 19.7066 19.8546 20.9403 19.5844 22.0818C19.3587 23.0384 20.0638 23.8187 21.0063 23.8187C22.7148 23.8187 23.8655 21.624 23.8655 19.0254C23.8655 17.05 22.5347 15.5711 20.1141 15.5711C17.3789 15.5711 15.6763 17.6102 15.6763 19.8878C15.6763 20.6736 15.9067 21.227 16.2704 21.6556C16.4365 21.8532 16.4599 21.9327 16.3991 22.1584C16.3558 22.3245 16.2575 22.7238 16.2154 22.8817C16.1557 23.1103 15.971 23.1916 15.7641 23.108C14.5047 22.5928 13.9188 21.2147 13.9188 19.6639C13.9188 17.1026 16.0786 14.0324 20.3609 14.0324C23.8034 14.0324 26.0697 16.5224 26.0697 19.1961C26.0697 22.7326 24.1029 25.3751 21.204 25.3751C20.2311 25.3751 19.3154 24.8483 19.002 24.2507C19.002 24.2507 18.4782 26.3284 18.3683 26.7289C18.1765 27.4235 17.8023 28.119 17.4608 28.6604C18.2712 28.8996 19.1283 29.0299 20.0159 29.0299C24.9951 29.0299 29.0306 24.9938 29.0306 20.0141C29.0306 15.0361 24.9951 11 20.0159 11Z" fill="#fff"/>
				</svg>
			</a>
		</div>

	</div>
	<div>
		<p class="mail-footer" >mapetitemalledeveil@gmail.com</p>
		<p class="location-footer">Tours, Indre-et-Loire</p>
	</div>
	<p class="copyright">© Ma petite malle d'éveil. Tous droits réservés - <a class="legales" href="../pages/legales.html" target="_blank">Mentions légales</a> - Site développé par @Solvey Méar</p>


</footer>