<footer>
	<div>
		<p class="contact-footer">contact</p>
		<p class="mail-footer" >mapetitemalledeveil@gmail.com</p>
		<p class="location-footer">Tours, Indre-et-Loire</p>
		<p class="copyright">© Ma petite malle d'éveil. Tous droits réservés</p>
	</div>
</footer>