<header class="header-mobile">
	<nav>
		<ul>
			<li class="header-top">
				<div class="logo-header">
                    <a href="/"><img src="/images/logo-MPME.png" alt="Logo de l'entreprise Ma Petite Malle d'Eveil" /></a>
                </div>
                <div class="burger-menu-btn">
                    <div class="burger-menu-logo top-tab"></div>
                    <div class="burger-menu-logo"></div>
                    <div class="burger-menu-logo"></div>
			    </div>
			</li>
            
            <div class="menu-burger">

                <li class="tab tab-part">
                    <a href="/particuliers.html">Particuliers</a>
                </li>

                <li class="tab">
                    <a href="/professionnelles.html">Professionnel·le·s</a> 
                </li>

                <li class="tab">
                    <a href="/mes-valeurs.html">Mes valeurs</a>
                </li>
                <li class="tab">
                    <a href="/presse.html">Presse</a>
                </li>

                <li class="tab">
                    <a href="https://www.kisskissbankbank.com/fr/projects/bouteilles-sensorielles-made-in-france-et-respectueuses-de-l-environnement" target="_blank">La campagne</a>

                </li>
            </div>

		</ul>
	</nav>
</header>