<header>
	<nav>
		<ul>
			<li class="logo-header">
				<img src="../images/logo-rond.png" alt="Ma Petite Malle d'Eveil" />
			</li>
			<li class="tab">Particuliers</li>
			<li class="tab">Professionnel·le·s</li>
			<li class="tab">Presse</li>
			<li class="tab">Contactez-moi</li>
			<div class="burger-menu">
				<div class="burger-menu-logo"></div>
				<div class="burger-menu-logo"></div>
				<div class="burger-menu-logo"></div>
			</div>
		</ul>
	</nav>
</header>