<header>
	<nav>
		<ul>
			<li class="logo-header">
				<img src="./images/logo-mpme2.png" alt="Ma Petite Malle d'Eveil" />
				<!-- <h2>MaPetite Malle d'Eveil</h2> -->
			</li>
			<li class="tab">Accueil</li>
			<li class="tab">A Propos</li>
			<li class="tab">Mes Produits</li>
			<!-- <li class="tab">Particuliers</li>
					<li class="tab">Professionnels</li> -->
		</ul>
	</nav>
</header>