<section class="sponsors-section">
	<div class="sponsors-container">
		<p class="nous-soutiennent">Ils nous soutiennent</p>
		<div class="sponsor-logo-div">
			<div class="sponsor-logo pepite-logo"></div>
			<div class="sponsor-logo cma-logo"></div>
			<div class="sponsor-logo bge-logo"></div>
			<div class="sponsor-logo epine-logo"></div>
		</div>
		<p class="study-safety-text">Les contrôles sont effectués par des laboratoires pour garantir la durabilité et la sécurité correspondantes aux normes CE et EN71.</p>
	</div>	

</section>