<section class="sponsors-section">
	<div class="sponsors-container">
		<p class="nous-soutiennent">Ils nous soutiennent</p>
		<div class="sponsor-logo-div">
			<div class="sponsor-logo pepite-logo"></div>
			<div class="sponsor-logo cma-logo"></div>
			<div class="sponsor-logo bge-logo"></div>
			<div class="sponsor-logo epine-logo"></div>
		</div>
		<p class="study-safety-text">Les bouteilles ont obtenu les normes CE et EN71 (jouet - 3 ans), après avoir subi de nombreux tests dans un laboratoire certifié. Ceci atteste qu'elles ont été conçues et réalisées conformément aux exigences de sécurité.

Avant la mise en service des bouteilles, j’ai fait de nombreux tests avec des structures ou familles « testeuses » qui m’ont permis de faire évoluer le produit grâce à leurs retours sur l’utilisation des jouets au quotidien et en situation de vie réelle. 
</p>
	</div>	

</section>