@import "./variables.scss";

body {
    section{

        header {
            //logo absolute par rapport au header, taille dans une variable et border de debugage aussi
            height: $header-height;
            display: flex;
            justify-content: center;
            position: relative;
            .background{
                position: absolute;
                background-color: $beige;
                height: 800px;
                width: 600px;
                z-index: -1;
            }
            nav {
                height: 100%;
                width: 100%;
                ul {
                    //vaut mieux mettre un padding là plutot que de marges
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    list-style-type: none;
                    padding: 1%;
                    height: 100%;
                    border: $border;
                    
                    li {
                        //on cible tous les li
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        
                        //& = on cible avec le  QUE les tabs
                        &.tab {
                            cursor: pointer;
                            margin: 0 1%;
                            margin-right: 3%;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                        }
                        //marge à droite
                        &:last-child {
                            margin-right: 6%;
                        }
                    }
                }
            }
           
        }
    }
    }