*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}


/* ---------------HEADER BANNER -------------------- */

.header-banner .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-top: 2%;
}

.header-banner{
    display: flex;
    justify-content: space-between;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* CHANGE FONT SIZE TO MAKE IT RESPONSIVE */
    /* border: 1px solid red; */
    padding: 0.5%;
}

.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-menu .menu{
    display: flex;
    justify-content: center;
    background-color: #d1a997;
    color: black;
    border-radius: 2px;
    width: 70%;
}

.menu li{
    font-size: 18px;
    display: flex;
    align-items: center;
    /* margin: 0 4px; */
    padding: 1em;
    white-space: nowrap;
    height: 100%;
}


.menu li:hover{
    cursor: pointer;
    background:rgba(142, 65, 46, 0.25);
    border-radius: 9px 21px 9px 21px;

    
}
.header-menu .site-intro{
    margin-top: 2%;
    color: #687259;
    text-align: center;
    line-height: 1.5em;
}


.header-menu .shop-link{
    color: #a2a182;
}

.burger{
    display: none;
}

.header-banner .connect-button{
    display: flex;
    align-items: center;
    font-family: 'American Typewriter', sans-serif;
    font-size: 0.75em;
    background-color: #a2a182;
    color: #f4ece2;
    border-radius: 9px 21px 9px 21px;
    padding: 10px 24px;
    margin-top: 5%;
    margin-right: 1%;
    height: 50px;
}

.header-banner .connect-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}

/* --------------HEADER MENU------------------ */





@media screen {
    
}