<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
		<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
		<link rel="icon" href="/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ma Petite Malle d'Éveil | Outils d'éveil sensoriel</title>
	</head>
	<body>
		
<section class="header-main-img">
		
		{{>header}}
		{{>header-mobile}}
	
<div class="main-img">
		<div class="right-section">               
			<div class="container-text">
				<h1 class="main-title">
					Outils d'éveil sensoriel </br><span>respectueux de
						l'environnement.</span> 
				</h1>
				<p>J'ai conçu des <strong>bouteilles inclusives</strong> et <strong>non genrées</strong> pour s'adapter à tous les utilisateurs</p>
				<div class="buttons-main">Je suis intéressé·e !
				</div>
			</div>
		</div>
	</div>
</section>

	{{>campaign}}

<section class="product-section">
	<div class="dot-circle left"></div>
	<div class="dot-circle right"></div>
	<div class="product-container">
		<div class="product-title-text">

			<div class="tags green">les produits</div>
			<h2>Des <strong>bouteilles sensorielles </strong></br>
				<span>inclusives et non-genrées</span>
			</h2>
			<p class="subtitle">
				Les bouteilles sensorielles sont de parfaits outils d’éveil pour petits et grands !
				<br>
				Quel que soit l’âge des enfants</b> et en fonction des objets placés à l’intérieur, l’objectif visé ne sera pas forcément le même et permettra d'accroître certaines compétences cognitives.
			</p>
			<div class="text">
				<p><b>Dès le plus jeune âge</b>, elles permettent de développer l’attention, la concentration, l’imagination et l’observation des bébés grâce aux nombreux motifs et objets colorés qui se déplacent doucement lorsque la bouteille est secouée.</p>
				<p><b>Dès 2 ans</b>, elles peuvent être utilisées pour faciliter le retour au calme lors des tempêtes émotionnelles ou encore lors des moments de stress. Elles peuvent aussi être utilisées par des plus grands pour se détendre, se relaxer ou se concentrer.</p>
				<p><b>A partir de 6 ans</b>, elles pourront servir de temps de médiation lors des devoirs ou lors d’un temps calme avant le coucher.</p>
				<p>•</p>
				<p>Les bouteilles sont fabriquées en France et dotées d’un bouchon sur mesure en matière 100% biosourcée afin de pouvoir être manipulées par tous, en toute sécurité.</p>
				<div class="logo-made-in-france"><img src="/images/made-in-france.jpg" alt="Logo fabriqué en France"></div>
				<p>Sur chaque bouteille, vous trouverez une brève description avec l’objectif pédagogique principal en fonction de l’âge et des modèles différents.</p>
			</div>

		</div>
		<div class="products-img">
			<div class="product photo1"></div>
			<div class="product photo2"></div>
			<div class="product photo3"></div>
			<div class="product photo4"></div>
			<div class="product photo5"></div>
			<div class="background2"></div>
		</div>
	</div>

</section>


<section class="who-for-section background-cotillons">
	<div class="who-for-container">
		<div class="who-for-title-text">
			<div class="tags brown">pour qui ?</div>
			<h2>
				L'éveil n'a ni âge, </br>
				<span>ni pathologie</span>
			</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium obcaecati dignissimos commodi. Qui eveniet delectus a debitis hic unde suscipit tempore. Consequuntur voluptatem necessitatibus molestiae, sequi voluptatibus quis vitae culpa.</p>
			
		</div>



		<div class="who-for-img-text">

			<div class="who-for-div">

				<div class="who-for-image for-kids"></div>
				<div class="text-div">

					<h3>Pour les enfants</h3>
					<p class="text">Utilisables à partir <b>dès premiers mois</b> , elles permettent de développer la motricité, les sens, la concentration, et favoriser le retour au calme.</p>
					<div class="buttons-secondary">En savoir plus</div>

				</div>

			</div>


			<div class="who-for-div">

				<div class="who-for-image for-old-people"></div>

				<div class="text-div">

					<h3>Pour les personnes âgées</h3>
					<p class="text">Particulièrement adaptées pour les personnes souffrant de démence ou de pertes motrices. Les activités en maisons de retraite deviennent une réelle thérapie.</p>
					<div class="buttons-secondary">Découvrir nos ateliers</div>

				</div>

			</div>
			

			<div class="who-for-div">

				<div class="who-for-image for-handi-people"></div>

				<div class="text-div">

					<h3>Pour les personnes en situation de handicap</h3>
					<p class="text">Idéales pour les personnes souffrant de troubles neurodéveloppementaux, handicaps moteurs ou polyhandicaps, personnes ayant subi un AVC, personnes hypersensibles ou hyposensibles.</p>
					<div class="buttons-secondary">Découvrir nos ateliers</div>

				</div>

			</div>	

		</div>
	</div>

</section>


<section class="montessori">
	<div class="dot-circle"></div>
	<div class="montessori-container">

		<div class="montessori-title-text">
			<h2> La <strong>pédagogie <em>Montessori</em></strong> </br>
			<span>est parfaitement adaptée à tout public</span></h2>
			<p>Cette pensée repose principalement sur l'observation et l'adaptation permanente à la personne, en repensant et en adaptant l'environnement des personnes pour favoriser l'autonomie et rendre l'individu acteur.</p> 
			<div class="malle-transp"></div>
		</div>
	
		<div class="montessori-images">
			<div class="image-div img1"></div>
			<div class="image-div img2"></div>
			<div class="image-div img3"></div>
		</div>
	</div>

</section>


<section class="pro-part-section">
	<div class="pro-part-container">

		<div class="pro-part-img"></div>

			<div class="pro-part-text">

				<div class="particulier">
					<div class="part-text">
						<h2>Je suis </br>
							<span>un particulier</span>
						</h2>
						<p>Tu souhaites trouver un outil d'éveil complet pour ton enfant?</p>
						<p>Utilisables dès les premiers mois de vie de ton enfants, elles ont de multiples objectifs pédagogiques!</p>
						<p>Inspirées de la pédagogie Montessori, elles permettent de la motricité, les sens, la concentration et de favoriser le retour au calme.</p>
						<div class="buttons-secondary">
							<a href="about.html">Découvrir les bienfaits</a></div>
					</div>
				</div>
				
				<div class="pro">
					<div class="pro-text">
						<h2>Je suis </br>
							<span>un·e professionnel·le</span>
						</h2>
						<p>Professionnelle de la petite enfance proposant des ateliers d'éveil dans la région Centre Val de Loire, pour tout type de structure accueillant du public.</p>
						<p>(enfants, personnes en situation de handicap, personnes âgées)</p>
						<div class="buttons-secondary green">
							<a href="professionnelles.html">Découvrir les prestations</a></div>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="presentation-section">

	<div class="lines-hearts">
		<div class="lines"></div>
		<div class="hearts"></div>
		<div class="lines"></div>
	</div>

	<div class="presentation-laurie">

			<div class="presentation-container">
				<div class="presentation-img">
					
					<div class="img-laurie">
						<div class="background-absolute-presentation-laurie"></div>
					</div>
				</div>
			<div class="presentation-text">
				<div class=" tags red">Qui je suis</div>
				<h2>Bonjour, </br>
				<span>moi c'est Laurie</span></h2>
				<p>Créatrice de Ma petite malle d'éveil. </br> Je suis professionnelle de la petite enfance depuis 2016.</p>
				<p>Passionnée par l'éveil des sens, les pédagogies alternatives et la créativité, je me lance un défi et décide de créer un produit qui correspondent à mes valeurs afin de créer des outils sensoriels pour enfants, personnes âgées ou en situation de handicap.</p>
			</div>
		</div>	
	</div>
</section>


<section class="values-section">
	<div class="values-container">
		<div class="values-left">
			<div class="values-title-text">
				<div class="tags white">Mes valeurs</div>
				<h2>Une production </br>
					<span>responsable</span>
				</h2>
				<p>De la création des bouteilles à l’emballage du colis, le processus d’achat a réfléchi de A à Z, pour être un maximum <b>respectueux de l’<strong>environnement</strong></b> et réduire l'empreinte carbone. </p>
				<p>J’ai sélectionné pour vous, des matériaux de qualité et des fournisseurs expérimentés afin qu’elles durent longtemps, qu’elles résistent à tout et avoir plaisir à grandir avec nos jouets.</p>
			</div>
		</div>

		<div class="values-right">

					<div class="value-push">
						<div class="value-img-and-text">
							<svg width="34" height="44" viewBox="0 0 34 44" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.1808 42.3355C20.0359 40.0408 32.4503 29.3715 32.4503 17.3388C32.4503 8.58506 25.354 1.48877 16.6003 1.48877C7.84654 1.48877 0.750244 8.58506 0.750244 17.3388C0.750244 29.3715 13.1647 40.0408 16.0197 42.3355C16.3654 42.6133 16.8351 42.6133 17.1808 42.3355Z" fill="#D6A594" stroke="#924032" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M16.6017 22.9C20.1871 22.9 23.0936 19.9935 23.0936 16.4081C23.0936 12.8228 20.1871 9.91626 16.6017 9.91626C13.0164 9.91626 10.1099 12.8228 10.1099 16.4081C10.1099 19.9935 13.0164 22.9 16.6017 22.9Z" fill="white" stroke="#924032" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							<p class="value-text">Matériaux </br> 100% français</p>								
						</div>
					</div>
					<div class="value-push">
						<div class="value-img-and-text">
							<svg width="42" height="44" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.93033 23.5225L11.7145 4.80699C14.2771 -0.0946823 21.7343 -0.09468 24.2969 4.80699L34.0811 23.5225C36.3607 27.883 32.9725 32.9726 27.7899 32.9726H8.22149C3.03897 32.9726 -0.349293 27.883 1.93033 23.5225Z" fill="#D1E4B8" stroke="#69725D" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M12.9537 20.9596L18.0056 25.2667V41.0593" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.007 25.2667L23.0588 20.9596" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M35.3957 36.5795C34.2712 37.6563 32.7028 38.3245 30.9679 38.3245C29.2329 38.3245 27.6646 37.6563 26.54 36.5795C26.3388 36.6024 26.1339 36.6142 25.9261 36.6142C23.1416 36.6142 20.8844 34.4994 20.8844 31.8907C20.8844 29.5184 22.751 27.5546 25.1833 27.2181C26.0761 25.0406 28.3293 23.495 30.9679 23.495C33.6064 23.495 35.8596 25.0406 36.7524 27.2181C39.1848 27.5545 41.0515 29.5183 41.0515 31.8907C41.0515 34.4994 38.7942 36.6142 36.0098 36.6142C35.8019 36.6142 35.597 36.6024 35.3957 36.5795Z" fill="white" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M28.5183 32.0266L30.8876 34.2464V42.3855" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M30.8865 34.2464L33.2557 32.0266" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							<p class="value-text">Bouchon 100% </br> biosourcé</p>
						</div>
					</div>
					<div class="value-push">
						<div class="value-img-and-text">
							<svg width="44" height="39" viewBox="0 0 44 39" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M42.6195 1.13194C40.1222 0.857388 37.6031 0.857388 35.1058 1.13194L28.397 11.9643L24.2678 4.16704C9.3073 11.6203 -0.319715 22.7731 10.4914 33.7516C21.3025 44.73 45.8028 29.5958 42.6195 1.13194Z" fill="#D1E4B8" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M0.789307 37.6267C9.1861 34.0836 20.0854 26.342 23.4469 21.0452" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							<p class="value-text">Production <br> raisonnée</p>	
						</div>
					</div>

					<div class="value-push">
						<div class="value-img-and-text">

							<svg class="value-img" width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M28.2878 6.65357C29.2757 3.86118 30.3815 1.12988 30.3815 1.12988C33.6397 3.45171 36.5523 6.87747 37.6421 11.7546C37.8557 12.7105 37.5877 13.7109 36.9248 14.4319C33.5426 18.1109 29.3073 19.6212 25.3248 20.0028C25.3248 20.0028 25.7597 16.8906 26.3267 13.8868L23.1124 13.0255C20.1226 12.2244 16.9333 12.7299 14.3377 14.4163L14.188 14.5136L16.0863 11.4399C18.62 7.33742 23.5446 5.38262 28.202 6.63058L28.2878 6.65357Z" fill="#D1E4B8" stroke="#69725D" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M7.37833 32.2593C4.42542 32.0279 1.50098 31.6666 1.50098 31.6666C2.90039 27.9185 5.4556 24.2185 9.88452 21.9035C10.7525 21.4498 11.7882 21.4498 12.6562 21.9034C17.0852 24.2182 19.6403 27.9183 21.0396 31.6664C21.0396 31.6664 17.9209 32.0517 14.8727 32.2816V35.6092C14.8727 38.7045 16.1864 41.6543 18.4871 43.7249L18.6199 43.8444L15.1595 42.8063C10.5411 41.4208 7.37833 37.1699 7.37833 32.3482V32.2593Z" fill="#D1E4B8" stroke="#69725D" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M41.5784 37.6366C43.255 40.0784 44.8127 42.5797 44.8127 42.5797C41.0182 43.848 36.5345 44.1873 31.9497 42.1988C31.0512 41.8091 30.4 41.0037 30.2071 40.0435C29.2224 35.1441 30.4933 30.8308 32.528 27.3861C32.528 27.3861 34.7885 29.569 36.8837 31.7949L39.4714 29.7027C41.8784 27.7566 43.3462 24.8803 43.5099 21.7894L43.5193 21.6111L44.8877 24.9546C46.714 29.4171 45.397 34.5492 41.6475 37.5808L41.5784 37.6366Z" fill="#D1E4B8" stroke="#69725D" stroke-width="1.5" stroke-linejoin="round"/>
							</svg>
							<p class="value-text" >Matériaux <br>recyclés</p>
						</div>
					</div>
					<div class="value-push">
						<div class="value-img-and-text">
							<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M35.9451 6.00801L33.0668 14.5059C32.9674 14.7025 32.9157 14.9196 32.9157 15.1398C32.9157 15.3601 32.9674 15.5772 33.0668 15.7738L38.4465 22.9696C38.6011 23.1755 38.6946 23.4209 38.7162 23.6775C38.7377 23.9341 38.6866 24.1916 38.5686 24.4205C38.4505 24.6494 38.2704 24.8404 38.0488 24.9717C37.8273 25.1029 37.5732 25.1691 37.3158 25.1626H28.3381C28.1181 25.169 27.9023 25.2247 27.7066 25.3255C27.511 25.4263 27.3404 25.5697 27.2074 25.7451L22.2046 32.9409C22.0578 33.1512 21.855 33.3162 21.6192 33.417C21.3834 33.5178 21.124 33.5505 20.8706 33.5112C20.6171 33.4719 20.3798 33.3623 20.1855 33.1949C19.9913 33.0275 19.8479 32.8089 19.7717 32.564L17.099 23.9975C17.038 23.7858 16.9242 23.593 16.7684 23.4372C16.6126 23.2813 16.4198 23.1676 16.208 23.1066L7.6416 20.4339C7.39672 20.3577 7.17813 20.2143 7.01068 20.0201C6.84323 19.8258 6.73365 19.5885 6.69438 19.335C6.65512 19.0816 6.68775 18.8222 6.78856 18.5864C6.88938 18.3506 7.05433 18.1478 7.26467 18.001L14.5975 12.8269C14.7729 12.6939 14.9163 12.5233 15.0171 12.3276C15.1179 12.1319 15.1736 11.9161 15.1801 11.6961V2.71849C15.1896 2.48269 15.2599 2.25336 15.3841 2.05269C15.5083 1.85203 15.6823 1.68683 15.889 1.5731C16.0958 1.45937 16.3285 1.40096 16.5644 1.40352C16.8004 1.40608 17.0317 1.46953 17.236 1.58772L24.4318 6.96745C24.6145 7.09433 24.8247 7.17602 25.0451 7.2058C25.2655 7.23559 25.4899 7.21262 25.6997 7.13878L34.1976 4.26045C34.4413 4.1748 34.7042 4.15977 34.9561 4.21707C35.208 4.27438 35.4386 4.40171 35.6212 4.58437C35.8039 4.76703 35.9312 4.99759 35.9885 5.24947C36.0458 5.50135 36.0308 5.7643 35.9451 6.00801Z" fill="#E8CEBF" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M16.7744 23.418L1.36426 38.8281" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<p class="value-text">Fabriqué à la main, <br> dans mon atelier </p>
						</div>
					</div>
					<div class="value-push">
						<div class="value-img-and-text">
							<svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.50244 25.6501L21.796 1.66671C22.1955 1.19463 22.9234 1.19463 23.3228 1.66671L43.6164 25.6501" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M7.91448 18.6612L21.7847 1.71034C22.1848 1.22138 22.9325 1.22138 23.3326 1.71034L37.2028 18.6612L38.4585 28.0581C38.705 29.9021 38.6929 31.7715 38.4227 33.6121L37.4538 40.2119C37.3097 41.1937 36.4674 41.9214 35.475 41.9214H9.64231C8.64995 41.9214 7.80766 41.1937 7.66352 40.2119L6.69466 33.6121C6.42444 31.7715 6.41237 29.9021 6.65878 28.0581L7.91448 18.6612Z" fill="#E8CEBF" stroke="#69725D" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M23.038 24.6934C26.474 24.6934 29.2594 27.4258 29.2594 30.7964V41.9218H16.8167V30.7964C16.8167 27.4258 19.6021 24.6934 23.038 24.6934Z" fill="white" stroke="#69725D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
									<p class="value-text">Contrôles en laboratoire</p>							
						</div>
					</div>

	</div>

</section>

 
<section class="review-section">
	<div class="review-title">
		<div class="tags brown">témoignages</div>
		<h2>Des utilisateur·trice·s </br>
		<span>satisfait·e·s</span> </h2>
	</div>

	<div class="review-container">

		<div class="review-card card1">
			<!-- quote -->
			<svg class="quote brown" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.98633 2.05078C8.06836 2.57812 7.32617 3.03711 6.75977 3.42773C6.19336 3.79883 5.61719 4.29688 5.03125 4.92188C4.48438 5.50781 4.06445 6.12305 3.77148 6.76758C3.47852 7.41211 3.27344 8.24219 3.15625 9.25781H4.5625C5.77344 9.25781 6.7207 9.56055 7.4043 10.166C8.10742 10.752 8.45898 11.6211 8.45898 12.7734C8.45898 13.5938 8.14648 14.3652 7.52148 15.0879C6.91602 15.791 6.07617 16.1426 5.00195 16.1426C3.32227 16.1426 2.12109 15.5957 1.39844 14.502C0.675781 13.3887 0.314453 11.9336 0.314453 10.1367C0.314453 8.86719 0.587891 7.71484 1.13477 6.67969C1.68164 5.625 2.3457 4.6875 3.12695 3.86719C3.92773 3.02734 4.77734 2.31445 5.67578 1.72852C6.57422 1.14258 7.32617 0.664062 7.93164 0.292969L8.98633 2.05078ZM19.8262 2.05078C18.9082 2.57812 18.166 3.03711 17.5996 3.42773C17.0332 3.79883 16.457 4.29688 15.8711 4.92188C15.3047 5.52734 14.875 6.15234 14.582 6.79688C14.3086 7.42188 14.1133 8.24219 13.9961 9.25781H15.4023C16.6133 9.25781 17.5605 9.56055 18.2441 10.166C18.9473 10.752 19.2988 11.6211 19.2988 12.7734C19.2988 13.5938 18.9863 14.3652 18.3613 15.0879C17.7559 15.791 16.916 16.1426 15.8418 16.1426C14.1621 16.1426 12.9609 15.5957 12.2383 14.502C11.5156 13.3887 11.1543 11.9336 11.1543 10.1367C11.1543 8.86719 11.4277 7.71484 11.9746 6.67969C12.5215 5.625 13.1855 4.6875 13.9668 3.86719C14.7676 3.02734 15.6172 2.31445 16.5156 1.72852C17.4141 1.14258 18.166 0.664062 18.7715 0.292969L19.8262 2.05078Z" fill="#BE6E53"/>
			</svg>

			<p class="review-text">
				Un grand merci pour cet atelier sensoriel à la Wonder Mom Academy. Ma fille a beaucoup aimé créer ses ronds avec des textures différentes. Elle était très fière de les exposer à la maison. 
			</p>
			<div class="name name1">
				<p class="bold-name">Pauline</p>
				<p>Maman de Margaux, 2 ans</p>
				<p>Tours</p>
			</div>
		</div>
		<div class="review-card card2">
			<!-- quote -->
			<svg class="quote green" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.98633 2.05078C8.06836 2.57812 7.32617 3.03711 6.75977 3.42773C6.19336 3.79883 5.61719 4.29688 5.03125 4.92188C4.48438 5.50781 4.06445 6.12305 3.77148 6.76758C3.47852 7.41211 3.27344 8.24219 3.15625 9.25781H4.5625C5.77344 9.25781 6.7207 9.56055 7.4043 10.166C8.10742 10.752 8.45898 11.6211 8.45898 12.7734C8.45898 13.5938 8.14648 14.3652 7.52148 15.0879C6.91602 15.791 6.07617 16.1426 5.00195 16.1426C3.32227 16.1426 2.12109 15.5957 1.39844 14.502C0.675781 13.3887 0.314453 11.9336 0.314453 10.1367C0.314453 8.86719 0.587891 7.71484 1.13477 6.67969C1.68164 5.625 2.3457 4.6875 3.12695 3.86719C3.92773 3.02734 4.77734 2.31445 5.67578 1.72852C6.57422 1.14258 7.32617 0.664062 7.93164 0.292969L8.98633 2.05078ZM19.8262 2.05078C18.9082 2.57812 18.166 3.03711 17.5996 3.42773C17.0332 3.79883 16.457 4.29688 15.8711 4.92188C15.3047 5.52734 14.875 6.15234 14.582 6.79688C14.3086 7.42188 14.1133 8.24219 13.9961 9.25781H15.4023C16.6133 9.25781 17.5605 9.56055 18.2441 10.166C18.9473 10.752 19.2988 11.6211 19.2988 12.7734C19.2988 13.5938 18.9863 14.3652 18.3613 15.0879C17.7559 15.791 16.916 16.1426 15.8418 16.1426C14.1621 16.1426 12.9609 15.5957 12.2383 14.502C11.5156 13.3887 11.1543 11.9336 11.1543 10.1367C11.1543 8.86719 11.4277 7.71484 11.9746 6.67969C12.5215 5.625 13.1855 4.6875 13.9668 3.86719C14.7676 3.02734 15.6172 2.31445 16.5156 1.72852C17.4141 1.14258 18.166 0.664062 18.7715 0.292969L19.8262 2.05078Z" fill="#BE6E53"/>
			</svg>

			<p class="review-text">
				Mes enfants et moi avons passé un excellent moment avec Laurie! Nous guettons les prochaines dates pour découvrir un nouvel atelier ! "
			</p>
			<div class="name name2">
				<p class="bold-name">Noémie</p>
				<p>Maman de Bertille 9 ans et Marcel 6 ans</p>
				<p>Tours</p>
			</div>
		</div>
		<div class="review-card card3">
			<!-- quote -->
			<svg class="quote red" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.98633 2.05078C8.06836 2.57812 7.32617 3.03711 6.75977 3.42773C6.19336 3.79883 5.61719 4.29688 5.03125 4.92188C4.48438 5.50781 4.06445 6.12305 3.77148 6.76758C3.47852 7.41211 3.27344 8.24219 3.15625 9.25781H4.5625C5.77344 9.25781 6.7207 9.56055 7.4043 10.166C8.10742 10.752 8.45898 11.6211 8.45898 12.7734C8.45898 13.5938 8.14648 14.3652 7.52148 15.0879C6.91602 15.791 6.07617 16.1426 5.00195 16.1426C3.32227 16.1426 2.12109 15.5957 1.39844 14.502C0.675781 13.3887 0.314453 11.9336 0.314453 10.1367C0.314453 8.86719 0.587891 7.71484 1.13477 6.67969C1.68164 5.625 2.3457 4.6875 3.12695 3.86719C3.92773 3.02734 4.77734 2.31445 5.67578 1.72852C6.57422 1.14258 7.32617 0.664062 7.93164 0.292969L8.98633 2.05078ZM19.8262 2.05078C18.9082 2.57812 18.166 3.03711 17.5996 3.42773C17.0332 3.79883 16.457 4.29688 15.8711 4.92188C15.3047 5.52734 14.875 6.15234 14.582 6.79688C14.3086 7.42188 14.1133 8.24219 13.9961 9.25781H15.4023C16.6133 9.25781 17.5605 9.56055 18.2441 10.166C18.9473 10.752 19.2988 11.6211 19.2988 12.7734C19.2988 13.5938 18.9863 14.3652 18.3613 15.0879C17.7559 15.791 16.916 16.1426 15.8418 16.1426C14.1621 16.1426 12.9609 15.5957 12.2383 14.502C11.5156 13.3887 11.1543 11.9336 11.1543 10.1367C11.1543 8.86719 11.4277 7.71484 11.9746 6.67969C12.5215 5.625 13.1855 4.6875 13.9668 3.86719C14.7676 3.02734 15.6172 2.31445 16.5156 1.72852C17.4141 1.14258 18.166 0.664062 18.7715 0.292969L19.8262 2.05078Z" fill="#BE6E53"/>
			</svg>

			<p class="review-text">
				Eliott et Hortense sont très fiers de soutenir la beau projet de ma petite malle d'éveil. Des jolies bouteilles sensorielles qui permettent d'éveiller leurs sens. Merci Laurie pour ta confiance et je te souhaite une belle et longue vie à ton projet. En tout cas, tu as tes premiers clients.
			</p>
				<div class="name name3">
				<p class="bold-name">Emeline</p>
				<p>Maman de Eliott 6 ans et Hortense 2 ans et demi</p>
				<p>Tours</p>
			</div>
		</div>


	</div>
</section>

	{{>sponsors}}
	{{>contact}}
	{{>footer}}

		<script type="module" src="../../js/main.js"></script>
		<script type="module" src="../../js/burger-menu.js"></script>
	</body>

</html>