<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
		<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
		<link rel="icon" href="/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ma Petite Malle d'Éveil | Mentions Légales</title>
	</head>
<body>

{{>header}}
{{>header-mobile}}


<section class="legals">
    <div class="mentions-legales">
        <h2>Mentions légales</h2>

        <ul>
            <h3>Propriétaire</h3>
            <li>Identité: Laurie Verhelst</li>
            <li>Coordonnées: 2 rue Charles Tellier, 37300 Joué-lès-Tours, France <br> +33 (0)6 38 29 19 48</li>
            <li>Crédit photos: Guillaume Ninon</li>
        </ul>

        {{!-- Ma Petite Malle d'Eveil n'est pas encore une société --}}

        <ul class="when-company">
            <h3>Editeur</h3>
            <li>Raison sociale: Ma Petite Malle d'Eveil</li>
            <li>Siège social: 2 rue Charles Tellier, 37300 Joué-lès-Tours, France</li>
            <li>RCS: SIRET : 94802606700017</li>
            <li>Capital:</li>
            <li>Téléphone: +33 (0)6 38 29 19 48</li>
            <li>Directrice de publication: Laurie Verhelst</li>
            <li class="credit-photos">Crédit photos : Guillaume Ninon</li>
        </ul>
        <ul>
            <h3>Hébergement</h3>
            <li>Nom de l'hebergeur: OVH SAS</li>
            <li>Siège social: 2 rue Kellermann, 59100 Roubaix, France </li>
            <li>RCS: Lille Métropole 424 761 419 00045</li>
            <li>Téléphone: +33 (0)8 20 32 03 63</li>
        </ul>
 
    </div>
</section>

	{{>contact}}
	{{>footer}}


    <script type="module" src="../../js/main.js"></script>
    <script type="module" src="../../js/burger-menu.js"></script>
</body>
</html>