<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
	<meta name="keywords"
		content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ma Petite Malle d'Éveil | Mes Valeurs</title>
</head>

<body>

	{{>header}}
	{{>header-mobile}}

	<section class="my-values background-cotillons">
		<div class="secondary-page-containers">
			<h1>Mes Valeurs</h1>
			<h3>Fabriqué en France</h3>


			<div class="content">
				<div class="image-content suppliers-map"></div>
				<div class="text-content">

					<p>Travailler avec des produits Français, me permet de créer de vrais liens de confiance avec mes
						fournisseurs et partenaires, de visiter leurs usines et découvrir leur travail.</p>

					<p>Je suis honorée et fière de participer à l’économie du pays tout en bénéficiant de ses
						savoir-faire.</p>

					<p>Un parcours de production responsable</p>

					<p>De la création des bouteilles à l’emballage du colis, le processus d’achat a réfléchi de A à Z,
						pour être un maximum respectueux de l’environnement.
					</p>
					<p>L’emballage en carton, qui par exemple pourra être recyclé pour emballer vos colis de secondes
						mains ou faire des activités pour vos enfants…
					</p>
					<p>Le calage du colis, en carton 100% recyclé qui s’adapte parfaitement à la taille de la bouteille
						pour une protection optimale.
					</p>
					<p>Une jolie carte pour vous remercier de votre achat sans produire de déchet. Vous allez pouvoir
						planter la carte et l’arroser. Elle donnera vie à des plants de tomates cerise après quelques
						jours.
					</p>
				</div>
			</div>



			<div class="text-content">

				<p>Les bouchons uniques et sur-mesure sont produits dans mon atelier, avec une matière première 100%
					biosourcée et innovatrice : le roseau.</p>

				<p>Inoffensif pour les utilisateurs, naturel et avec des caractéristiques techniques très intéressantes,
					c’est la matière idéale que j’ai choisie pour vous créer un bouchon durable, sécuritaire et
					respectueux des utilisateurs et aussi de l'environnement !
				</p>
				<p>La récolte du roseau en France, favorise la préservation des zones humides et l'utilisation de cette
					matière limite grandement l'utilisation de polymères chimiques.
				</p>
				<div class="bouchon-img"></div>
			</div>

			<div>
				<p> Des outils qui s’inscrivent dans le temps avec différents thèmes, intemporel, sans stéréotypes et
					non genré.
				</p>
				<p>J’ai sélectionné pour vous, des matériaux de qualité et des fournisseurs expérimentés afin qu’elles
					durent longtemps qu’elles résistent à tout et avoir plaisir à grandir avec nos jouets.
				</p>
				<p>Je souhaite travailler avec des E.S.A.T (établissement et service d'aide par le travail) pour la mise
					en bouteille et le conditionnement de vos colis.
				</p>
				<p>Ce sont des structures qui permettent aux personnes en situation de handicap d'exercer une activité
					professionnelle, tout en bénéficiant d'un soutien médico-social et éducatif dans un milieu protégé,
					tout en améliorant leur autonomie.
				</p>
				<p>À votre disposition, des conseils pour entretenir votre jeu directement accessible sur le site
					internet, afin de vous permettre de les garder “comme neuf” le plus longtemps possible.
				</p>
				<p>Si vous aussi, êtes des adeptes de la seconde-main et que vos enfants sont trop grands pour utiliser
					encore leurs jolis outils, ne les jetez pas, offrez-les !
				</p>
				<p>Lorsqu’un produit aura très bien vécu et qu’il n’est désormais plus utilisable (ce qui n’arrivera pas
					de sitôt, je vous rassure), je m’engage à les récupérer afin de pouvoir recycler et réutiliser le
					maximum de matériaux possible pour éviter la production de nouveaux déchets.
				</p>
			</div>

		</div>

	</section>

	<script type="module" src="../../js/main.js"></script>
	<script type="module" src="../../js/burger-menu.js"></script>

</body>

</html>