<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
		<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
		<link rel="icon" href="/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ma Petite Malle d'Éveil | Mes Valeurs</title>
	</head>
<body>

    		{{>header}}
		    {{>header-mobile}}

    <section class="my-values background-cotillons">
        <div class="wrapper">
            <h1>Mes Valeurs</h1>
                <h3>Fabriqué en France</h3>

<p>Travailler avec des produits Français, me permet de créer de vrais liens de confiance avec mes fournisseurs et partenaires, de visiter leurs usines et découvrir leur travail.</p> 

<p>Je suis honorée et fière de participer à l’économie du pays tout en bénéficiant de ses savoir-faire.</p>

<p>Les bouchons uniques et sur-mesure sont produits dans mon atelier, avec une matière première 100% biosourcée et innovatrice : le roseau.</p>

<p>Inoffensif pour les utilisateurs, naturel et avec des caractéristiques techniques très intéressantes, c’est la matière idéale que j’ai choisie pour vous créer un bouchon durable, sécuritaire et respectueux des utilisateurs et aussi de l'environnement ! 
</p>
<p>La récolte du roseau en France, favorise la préservation des zones humides et l'utilisation de cette matière limite grandement l'utilisation de polymères chimiques.
</p>
<div class="suppliers-map">

</div>
        </div>

    </section>

        <script type="module" src="../../js/main.js"></script>
		<script type="module" src="../../js/burger-menu.js"></script>
    
</body>
</html>