<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
	<meta name="keywords"
		content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ma Petite Malle d'Éveil | Mes valeurs</title>
</head>

<body>

	{{>header page="mes-valeurs"}}
	{{>header-mobile page="mes-valeurs"}}

	<section class="my-values background-cotillons">
		<div class="secondary-page-containers wrapper">

			<div class="content">
				<div class="title">
					<h1>Mes valeurs, <br> <span>un parcours de production responsable</span></h1>
					<p>Les bouteilles sont <b>conçues et fabriquées</b> en France avec des matières premières françaises, puis
						<b>contrôlées et certifiées</b> par un laboratoire français.
					</p>
				</div>
			
				<div class="block">
					<div class="text">
						<h2 class="sub-title">Un production française</h2>
						<div class="text-content">

							<p>Travailler avec des produits français me permet de créer de vrais liens de confiance avec mes
							fournisseurs et partenaires, de visiter leurs usines et découvrir leur travail.</p>
							<div class="logo-made-in-france"><img src="/images/made-in-france.jpg" alt="Logo fabriqué en France"></div>
							<p>L’emballage en carton pourra être recyclé pour emballer vos colis de secondes
							mains ou faire des activités avec vos enfants…
							</p>

							<p>Une jolie carte sera jointe au colis pour vous remercier de vos achats sans produire de déchet. Vous allez pouvoir
							planter la carte et l’arroser. Elle donnera vie à des plants de tomates cerises après quelques
								jours.
							</p>
						</div>
					</div>
					<div class="image suppliers-map"></div>
				</div>

				<h2 class="sub-title">L'insertion par le travail</h2>
				<div class="block">
					<div class="text-content">
						<p>Je souhaite travailler avec des E.S.A.T (établissement et service d'aide par le travail) pour la
						mise
						en bouteille et le conditionnement de vos colis.
						</p>
						<p>Ce sont des structures qui permettent aux personnes en situation de handicap d'exercer une
						activité
						professionnelle, tout en bénéficiant d'un soutien médico-social et éducatif dans un milieu
						protégé,
						tout en améliorant leur autonomie.
						</p>
					</div>
				</div>

				<div class="block">
					<div class="text">
						<h2 class="sub-title">Une matière innovante, créée sur mesure</h2>
						<div class="text-content">

							<p>Les bouchons uniques et sur-mesure sont produits dans mon atelier, avec une matière première <b>100%
								biosourcée et innovatrice : le roseau.</b></p>

							<p>Inoffensif pour les utilisateurs, naturel et avec des caractéristiques techniques très
								intéressantes,
								c’est la matière idéale que j’ai choisie pour vous créer un bouchon durable, sécuritaire et
								respectueux des utilisateurs et de l'environnement.
							</p>
							<p>La récolte du roseau en France, favorise la préservation des zones humides et l'utilisation de
								cette
								matière limite grandement l'utilisation de polymères chimiques.
							</p>
						</div>
					</div>
					<div class="image radius bouchon-img"></div>
				</div>

				<div class="block">
					<div class="text">
						<h2 class="sub-title">Des bouteilles contrôlées et certifiées</h2>
						<div class="text-content">
							<p>Les bouteilles ont obtenu <b>les normes CE et EN71</b> (jouet - 3 ans), après avoir subi de nombreux tests dans un laboratoire certifié.<br>
							Ceci atteste qu'elles ont été conçues et réalisées conformément aux exigences de sécurité.</p><br>
							<p>Avant la mise en service des bouteilles, de nombreux tests ont été réalisés avec des structures ou familles « testeuses » qui ont permis de faire évoluer le produit grâce à leurs retours sur l’utilisation des jouets au quotidien et en situation de vie réelle.</p>
						</div>
					</div>
					{{!-- <div class="image radius bouchon-img"></div> --}}
				</div>
			</div>
		</div>
	</section>

	{{!-- {{>campaign}} --}}
	{{!-- {{>sponsors}} --}}
	{{>contact}}
	{{>footer}}

	<script type="module" src="../../js/main.js"></script>
	<script type="module" src="../../js/burger-menu.js"></script>

</body>

</html>