<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="
	Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
	<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ma Petite Malle d'Éveil | Particuliers</title>
</head>

<body>

	{{>header page="individual"}}
	{{>header-mobile page="individual"}}

	<section class="section-individual background-cotillons">
		<div class="secondary-page-containers wrapper">

				<div class="content">
					<div class="title">
						<h1>Pour le bien être<br> <span>des familles</span></h1>
						<p>Ces outils sensoriels ont de nombreux <b>bienfaits</b> que ce soit sur le plan <b>cognitif</b>, <b>psychique</b> ou <b>moteur</b> pour les utilisateurs :  </p>
					</div>
					<div class="for-which-individual">
						<div class="for-families">
							<h2>Vos enfants apprendront de façon ludique à  : </h2>
							<ul class="children-benefit-list">
								<li>Développer leur vocabulaire et l’imaginaire</li>
								<li>Favoriser l’attention, la concentration et son retour au calme</li>
								<li>Stimuler les sens (l'ouïe, la vue et le toucher)</li>
								<li>Améliorer la motricité fine et globale</li>
							</ul>	
							<p>Si votre enfant est atteint de troubles autistiques, d’hyperactivité, d’hypo ou d'hyper sensibilité, vous allez pouvoir lui proposer ces bouteilles qui pourront agir comme un sas de décompression et comme médiateur d’émotion.</p>
						</div>
					</div>
				</div>

				<div class="image radius"></div>

		</div>

		<section class="arguments">
			<div class="argument-list wrapper">
				<h2>Les bienfaits <br> <span>de ces outils</span></h2>
				<p>Ces outils sensoriels ont de nombreux bienfaits que ce soit sur le plan cognitif, psychique ou moteur pour les utilisateurs comme par exemple : </p>
				<ul>
					<li>Apaisement et relaxation : elles offrent une stimulation visuelle et sensorielle apaisante en aidant à réduire l'anxiété, le stress et l'agitation, en créant une expérience visuelle calme et hypnotique.</li>
					<li>Stimulation sensorielle :elles offrent une expérience sensorielle riche, permettant de découvrir des couleurs, des formes et des textures variées. Cela peut être particulièrement bénéfique pour les personnes ayant des troubles sensoriels ou des besoins spécifiques en matière de stimulation sensorielle.
</li>
					<li>Distraction et focalisation : elles peuvent aider à détourner l'attention de pensées négatives, d'inconfort physique ou d'autres sources de stress. Elles fournissent une activité focalisée et peuvent aider à canaliser l'énergie et l'attention vers quelque chose de positif et d'apaisant.
</li>
					<li>Stimulation cognitive : L'observation et l'exploration des bouteilles peuvent encourager l'engagement cognitif, la concentration visuelle, la logique, le raisonnement, la planification, la flexibilité mentale, la prise de décision, l’imaginaire, le vocabulaire et la curiosité. Cela peut être particulièrement bénéfique en cas de trouble cognitif, grace à la stimulation douce et attrayante.</li>
					<li>Activation de la motrice fine : la manipulation des bouteilles peut favoriser le développement de la motricité fine, en encourageant la coordination main-œil et les mouvements précis des doigts pour faire tourner, secouer ou observer les éléments à l'intérieur des bouteilles.</li>
					<li>L’apprentissage ludique : Connu sous le nom d'apprentissage par le jeu, cette approche éducative intègre dans le processus d'apprentissage des éléments de jeu. Il vise à rendre l'expérience de ce processus plus interactive, engageante et agréable, encourageant à être actif lors du processus. Ils participent activement, expérimentent, résolvent des problèmes, prennent des décisions et interagissent avec les autres, ce qui facilite une compréhension plus approfondie et une meilleure rétention des connaissances.
</li>
					<li>Créativité et réflexion critique : Développer ses capacités par le jeu permet aux utilisateurs d'explorer leur créativité et leur pensée critique. Ils sont encouragés à trouver des solutions innovantes, à prendre des décisions éclairées et à analyser les conséquences de leurs actions dans un environnement ludique.</li>
					<li>Interaction sociale : Apprendre à utiliser ou à partager ces bouteilles implique une interaction sociale, en jouant avec d'autres personnes. Cela favorise la communication, la coopération, le partage d'idées et la compréhension mutuelle, contribuant ainsi au développement des compétences sociales et émotionnelles.</li>
				</ul>
			</div>
		</section>

		<section class="prestations">
			<div class="text wrapper">
				<h2>Vous êtes aussi</br>
					<span>des créateurs !</span>
				</h2>
				<p>Avant chaque conception de produit, je prends le temps de vous écouter et d’échanger avec chacun d’entre vous, lors des salons, par exemple. </p>
				<p>Il est même possible créer une <b>bouteille unique et sur mesure</b> ! </p>
				<p>Vous souhaitez faire découvrir à votre enfant un thème précis ?<br>Vous avez envie d’être le propre créateur de la bouteille ? Vous êtes au bon endroit ! </p>
				<p>Ici, vous avez la possibilité de choisir, parmi les options disponibles, la composition de votre bouteille.</p>
				<p class="infos bold">Pour plus d'informations, tarifs et prestations,<br>n'hésitez pas à me contacter par e-mail: <span>mapetitemalledeveil@gmail.com</span></p>
			</div>
		</section>
	</section>

	

	{{>campaign}}
	{{>sponsors}}
	{{>contact}}
	{{>footer}}

</body>
<script type="module" src="../../js/main.js"></script>
<script type="module" src="../../js/burger-menu.js"></script>



</html>