<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="
	Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
	<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ma Petite Malle d'Éveil | Particulier</title>
</head>

<body class="background-cotillons">

	{{>header}}
	{{>header-mobile}}

	<section class="section-individual secondary-page-containers">
		<div class="for-individual-title">
			<h1>Pour les <br> <span>particuliers</span></h1>
		</div>
			<div class="for-which-individual">
				<div class="for-families">

					<h3>Le bien être des familles : </h3>

					<p>Ces bouteilles sont des outils pour accompagner les enfants dans la <b>gestion de leurs émotions</b> et de leurs apprentissages. </p>
					<p>Elles sont directement inspirées de <b>pédagogie alternative Montessori</b>, ainsi que des récentes découvertes en neurosciences. </p>

					<p>Avec ses multiples objectifs pédagogiques, vos enfants apprendront de façon ludique à  : </p>

					<ul class="children-benefit-list">
						<li>Développer leur vocabulaire et l’imaginaire</li>
						<li>favoriser l’attention, la concentration et son retour au calme</li>
						<li>Stimuler les sens (l'ouïe, la vue et le toucher)</li>
						<li>Améliorer la motricité fine et globale</li>
					</ul>	

					<p>Si votre enfant est atteint de troubles autistiques, d’hyperactivité, d’hypo ou d'hyper sensibilité, vous allez pouvoir lui proposer ces bouteilles vont pouvoir agir comme un sas de décompression et comme médiateur d’émotion.</p>

				</div>

				<div class="custom-bottles">

					<h3>Vous êtes aussi des créateurs :</h3>

					<p>Avant chaque conception de produit, je prends le temps de vous écouter et d’échanger avec chacun d’entre vous, lors des salons, par exemple. </p>
					<p>Je souhaite mettre régulièrement en place des questionnaires et des sondages par le biais de mes réseaux sociaux pour que vous puissiez choisir de créer un produit qui vous ressemble et qui vous correspond.</p>
					<p>Il est même possible créer une <b>bouteille unique et sur mesure</b> : </p>
					<p>Vous souhaitez faire découvrir à votre enfant un thème précis ? Vous avez envie d’être le propre créateur de la bouteille ? Vous êtes au bon endroit ! </p>
					<p>Ici, vous avez la possibilité de choisir, parmi les options disponibles, la composition de votre bouteille. Les délais de livraison pourront être rallongés en vue de la personnalisation du produit</p>

					<p class="contact-phrase"><b>Pour plus d'informations, tarifs et prestations, n'hésitez pas à me contacter par e-mail: <span>mapetitemalledeveil.fr</span></b>
                	</p>
		</div>



				{{!-- <li>
					
					<p><b>Pour les personnes en situation de handicap :</b><p></p>
					<ul class="liste-des-bienfaits">
						<li>Pour les troubles autistiques, d'hyperactivité, d'hypo ou d'hypersensibilité: vous allez
							pouvoir proposer ces bouteilles qui vont agir comme un sas de décompression et comme
							médiateur d'émotion. </li>
						<li>Pour les troubles moteurs: proposer de toucher, soulever, agripper la bouteille, puis la
							faire rouler et les empiler afin de développer la motricité fine.</li>
					</ul>
				</li> --}}
			
		</div>
	</section>

	

	<section class="campaign-section">
		{{>campaign}}
	</section>
	


	<section class="includes-individual">
        {{>sponsors}}
        {{>contact}}
        {{>footer}}
	</section>

</body>
<script type="module" src="../../js/main.js"></script>
<script type="module" src="../../js/burger-menu.js"></script>



</html>