<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
		<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
		<link rel="icon" href="/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ma Petite Malle d'Éveil | Presse</title>
	</head>
<body>

    {{>header}}
    {{>header-mobile}}

    <section class="press-section background-cotillons">
		<div class="lepine about-containers">
			<h2>Les évenements <br><span>auxquels j'ai participé</span></h2>
			<div class="sub-container">
				<div class="sub-container-divs">
                    <div class="sub-container-logo logo-jic"></div>
					<div class="sub-container-text">
						<h3>Salon des jeunes inventeurs & créateurs</h3>
						<p>J'ai obtenu la <strong>médaille d'argent du concours Lépine</strong>  au salon des jeunes inventeurs et créateurs en mai 2023.</p>
						<a class="buttons-secondary green" href="https://jeunesinventeurs.org/projets/ma-petite-malle-deveil/">Retrouvez mon projet</a>
					</div>

				</div>
				<div class="sub-container-divs">
                    <div class="sub-container-logo logo-ville-monts">
                    </div>
					<div class="sub-container-text">
						<h3>Salon de l'enfance de Monts (37)</h3>
						<p>J'ai pu présenter mes bouteilles à des professionnelles et à des parents ou futurs parents.</p>
						<a class="buttons-secondary green" href="https://jeunesinventeurs.org/projets/ma-petite-malle-deveil/">Retrouvez mon projet</a>
					</div>
				</div>

				<div class="sub-container-divs">
                    <div class="sub-container-logo made-in-vdl">
                    </div>
					<div class="sub-container-text">
						<h3>Salon de l'enfance de Monts (37)</h3>
						<p>J'ai exposé mes bouteilles à des professionnelles de l'industrie, du made in France.</p>
						<a class="buttons-secondary green" href="https://jeunesinventeurs.org/projets/ma-petite-malle-deveil/">Retrouvez mon projet</a>
					</div>
				</div>

				<div class="sub-container-divs">
                    <div class="sub-container-logo tv-tours">
                    </div>
					<div class="sub-container-text">
						<h3>Emission Local Génial sur TV Tours</h3>
						<p>J'ai présenté mon projet d'outils sensoriels non genrés, inclusifs, et ecoresponsables.</p>
						<a class="buttons-secondary green" href="https://www.youtube.com/watch?v=SYIcsJ1t8ak&t=21s&ab_channel=Mapetitemalled%27%C3%A9veil">Voir la vidéo</a>
					</div>
				</div>
			</div>
		</div>
	</section>

    {{>sponsors}}
	{{>contact}}
	{{>footer}}

    <script type="module" src="../../js/main.js"></script>
    <script type="module" src="../../js/burger-menu.js"></script>
</body>
</html>