<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8" />
		<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
		<meta name="keywords" content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
		<link rel="icon" href="/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ma Petite Malle d'Éveil | Presse</title>
	</head>
<body class="background-cotillons">
    
	{{>header}}
	{{>header-mobile}}

<section class="section-professionnelles">
		<div class="secondary-page-containers">

			<div class="pour-professionnelles-title">
				<h2>Pour les <br> <span>professionnel·les</span> </h2>
				<h3>Un outils pédagogique <br> <span>pour développer les capacités cognitives sensorielles</span></h3>
				<p>Les bouteilles sensorielles sont de parfaits outils pédagogiques permettant de développer de nombreuses
					capacités cognitives et sensorielles pouvant convenir à tous âges et toutes pathologies.</p>
				<p>En fonction du public avec lequel vous travaillez, vous allez pouvoir travailler différents objectifs et
					surtout de façon ludique et agréable.</p>
			</div>
			<div class="public-pro">
				<ul class="pour-qui-liste">
					<li>
						<p><b>Pour les enfants :</b><p>
						<ul class="liste-des-bienfaits">
							<li>Développer le vocabulaire et l'imaginaire</li>
							<li>Favoriser l'attention, la concentration et le retour au calme</li>
							<li>Stimuler les sens (l'ouïe, la vue et le toucher)</li>
							<li>Améliorer la motricité fine et globale</li>
						</ul>
					</li>

					<li>
						
						<p><b>Pour les personnes en situation de handicap :</b><p></p>
						<ul class="liste-des-bienfaits">
							<li>Pour les troubles autistiques, d'hyperactivité, d'hypo ou d'hypersensibilité: vous allez
								pouvoir proposer ces bouteilles qui vont agir comme un sas de décompression et comme
								médiateur d'émotion. </li>
							<li>Pour les troubles moteurs: proposer de toucher, soulever, agripper la bouteille, puis la
								faire rouler et les empiler afin de développer la motricité fine.</li>
						</ul>
					</li>

					<li>
						<p><b>Pour les personnes âgées :</b><p>
						<ul class="liste-des-bienfaits">
							<li>Ces bouteilles limitent l'apparition des symptômes de la maladie d'Alzheimer car elle
								favorisent la mémoire, la concentration et l'imaginaire.
							</li>
							<li>La stimulation de différents sens permet de limiter le développement de troubles sensoriels.
							</li>
							<li>Les personnes atteintes de démences pourront utiliser ces outils pour se recentrer et gérer plus facilement leurs émotions.</li>
							<li>Travailler la motricité fine et globale permet de garder une certaine mobilité dans les bras
								et les mains pour garantir une meilleure autonomie.</li>
						</ul>
					</li>
				</ul>
            </div>
            <div class="prestations">
                <h2>Prestations:</h2>
                <h3>Que vous soyez en structures accueillant du public (enfants, personnes en situation de handicaps ou personnes âgées) ou en tant qu’indépendant à voter cabinet, différentes formules s’offrent à vous.</h3>
                <ul class="liste-prestations">
                    <div class="liste-item-prestations">
                        <li>A l’<b>achat</b> : à l’unité ou en lot, avec des tarifs préférentiels pour les professionnels.</li>
                        <li>Des <b>locations</b> : 3/6/9 ou 12 mois pour découvrir tous les trimestres de nouveaux modèles de votre choix et favoriser le renouvellement de votre panel de jouets, sans vous encombrer.</li>
                        <li>Des <b>ateliers de médiation sensorielles</b> : je me déplace avec différents modèles de bouteilles, dans la région Centre Val de Loire, afin de partager un moment convivial pour découvrir ces outils pédagogiques innovants.</li>
                    </div>
				</ul>
                <p><b>Pour plus d'informations, tarifs et prestations, n'hésitez pas à me contacter par e-mail: <span>mapetitemalledeveil.fr</span> </b>
                </p>
			</div>
		</div>
	</section>
    <section class="includes-professionnelles">
        	{{>campaign}}
            {{>sponsors}}
            {{>contact}}
            {{>footer}}
    </section>

<script type="module" src="../../js/main.js"></script>
<script type="module" src="../../js/burger-menu.js"></script>

</body>
</html>