<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="
		Bouteilles d'éveil sensorielles inclusives et non genrées, respectueuses de l'environnement et produites en France.">
	<meta name="keywords"
		content="éveil, sensoriel, outil, enfants, bouteilles,  Montessori, pédagogique, ecoresponsable, professionnels">
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ma Petite Malle d'Éveil | Professionnel·les</title>
</head>

<body>

	{{>header page="professionnelles"}}
	{{>header-mobile page="professionnelles"}}

	<section class="section-professionnelles background-cotillons">
		<div class="secondary-page-containers wrapper">

			<div class="content-pro">

				<div class="title">
					<h1>Pour les pros, <br> <span>des outils adaptés à tous les âges et toutes les pathologies.</span>
					</h1>
					<p>Les bouteilles sensorielles sont de parfaits outils pédagogiques permettant de développer de
						nombreuses capacités cognitives et sensorielles. <br>En fonction du public avec lequel vous
						travaillez, vous allez pouvoir travailler différents objectifs et surtout de façon ludique et
						agréable.</p>
				</div>
				<div class="image radius"></div>
			</div>
			<div class="public-pro">
				<ul class="pour-qui-liste">
					<li>
						<h2 id="enfants">Pour les enfants :</h2>
						<ul class="liste-des-bienfaits">
							<li>Développer le vocabulaire et l'imaginaire</li>
							<li>Favoriser l'attention, la concentration et le retour au calme</li>
							<li>Stimuler les sens (l'ouïe, la vue et le toucher)</li>
							<li>Améliorer la motricité fine et globale</li>
						</ul>
					</li>

					<li>

						<h2 id="personnes-handicapees">Pour les personnes en situation de handicap :</h2>
						<ul class="liste-des-bienfaits">
							<li>Pour les troubles autistiques, d'hyperactivité, d'hypo ou d'hypersensibilité: vous allez
								pouvoir proposer ces bouteilles qui vont agir comme un sas de décompression et comme
								médiateur d'émotion. </li>
							<li>Pour les troubles moteurs: proposer de toucher, soulever, agripper la bouteille, puis la
								faire rouler et les empiler afin de développer la motricité fine.</li>
						</ul>
					</li>

					<li>
						<h2 id="personnes-agees">Pour les personnes âgées :</h2>
						<ul class="liste-des-bienfaits">
							<li>Ces bouteilles limitent l'apparition des symptômes de la maladie d'Alzheimer car elle
								favorisent la mémoire, la concentration et l'imaginaire.
							</li>
							<li>La stimulation de différents sens permet de limiter le développement de troubles
								sensoriels.
							</li>
							<li>Les personnes atteintes de démences pourront utiliser ces outils pour se recentrer et
								gérer plus facilement leurs émotions.</li>
							<li>Travailler la motricité fine et globale permet de garder une certaine mobilité dans les
								bras
								et les mains pour garantir une meilleure autonomie.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<section class="prestations">
			<div class="text wrapper">
				<h2>Des prestations </br>
					<span>pour les pros</span>
				</h2>
				<p>Que vous soyez en structures accueillant du public (enfants, personnes en situation de handicaps ou
					personnes âgées) ou en tant qu’indépendant à voter cabinet, différentes formules s’offrent à vous :
				</p>
				<ul class="liste-prestations">
					<li>A l’<b>achat</b> : à l’unité ou en lot.</li>
					<li>Des <b>locations</b> : 3/6/9 ou 12 mois pour découvrir tous les trimestres de nouveaux modèles
						de votre choix et favoriser le renouvellement de votre panel de jouets, sans vous encombrer.
					</li>
					<li>Des <b>ateliers de médiation sensorielles</b> : je me déplace avec divers outils sensoriels et
						différents modèles de bouteilles, dans la région Centre Val de Loire, afin de mettre en place
						des atelier sensitifs sur mesure, spécialement conçus pour vous et votre public.
						<ul class="workshop-grid-list-container">
							<li>
								<p><span class="bold">Les ateliers Snoezelen</span>
									peuvent être un complément précieux dans vos structures d'accueil. Faire appel à
									une intervenante extérieure permet de prendre du temps pour observer et partager
									un moment de complicité et de partage avec votre public, ainsi vous allez
									pouvoir créer une réelle connexion avec votre public et sortir du quotidien.
									Cela permet aussi de limiter les frais lier au coût du matériel ainsi que les
									problématiques de stockage pour une structure.</p>

								<div class="workshop-img image-snoezelen radius"></div>
							</li>
							<li>

								<p> <span class="bold">Les ateliers créatifs </span>
									sont des outils puissants pour l'apprentissage,
									l'interaction sociale, le développement personnel et le plaisir, quel que soit
									l'âge ou la situation individuelle des participants.
									Le manque de temps et de ressources constitue souvent un défi majeur pour la
									création d'ateliers créatifs innovants. À travers mon expérience, je propose une
									vaste
									gamme d'ateliers créatifs.
								<div class="workshop-img image-creative radius"></div>
							</li>
						</ul>
					</li>
				</ul>

				<p class="infos bold">Pour plus d'informations, tarifs et prestations,<br>n'hésitez pas à me contacter
					par e-mail: <span>mapetitemalledeveil@gmail.fr</span></p>
			</div>
		</section>

	</section>


	{{>campaign}}
	{{>sponsors}}
	{{>contact}}
	{{>footer}}

	<script type="module" src="../../js/main.js"></script>
	<script type="module" src="../../js/burger-menu.js"></script>

</body>

</html>